@CHARSET "UTF-8";
/*Admin********************************/
div#head {
	background-image: url("../images/theme/azul/bg_head.png");
}

div#head div#logo {
	background-image: url("../images/theme/azul/bg_logo.png");
}

div#head ul.menu_config > li.config > ul li.active {
	border: 3px solid #069;
}

ul.menu li {
	background-image: url(../images/theme/azul/sprite.png);
}

div#footer {
	background-image: url("../images/theme/azul/bg_footer.png");
}

div#footer div#footer_content {
	background-image: url("../images/theme/azul/bg_footer_content.png");
}

/*Login*********************************/
div#site.auth {
	background-image: url("../images/theme/azul/bg_login.jpg");
}

div#site.auth div#footer {
	background-image: url("../images/theme/azul/bg_head.png");
}
