@CHARSET "UTF-8";
/*Admin********************************/
div#content div#right {
    border-top: 2px solid #6699cc;
}

div#site {
    background-image: url("../images/theme/cinza/bg_left.png");
}
div#head {
	background-image: url("../images/theme/cinza/bg_head.png");
}

div#head div#logo {
	background-image: url("../images/theme/cinza/bg_logo.png");
}

div#head ul.menu_config > li.config > ul li.active {
	border: 3px solid #666;
}

ul.menu li {
	background-image: url(../images/theme/cinza/sprite.png);
}

div#footer {
	background-image: url("../images/theme/cinza/bg_footer.png");
}

div#footer div#footer_content {
	background-image: url("../images/theme/cinza/bg_footer_content.png");
}

/*Login********************************/
div#site.auth {
	background-image: url("../images/theme/cinza/bg_login.jpg");
}

div#site.auth div#footer {
	background-image: url("../images/theme/cinza/bg_head.png");
}

/*Bootstrap Override*******************/
.dropdown-menu li>a:hover, .dropdown-menu li>a:focus, .dropdown-submenu:hover>a,
.mce-menu-item:hover, .mce-menu-item.mce-selected, .mce-menu-item:focus {
	background-color: #333 !important;
	background-image: -moz-linear-gradient(top, #333, #9999) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#999)) !important;
	background-image: -webkit-linear-gradient(top, #333, #999) !important;
	background-image: -o-linear-gradient(top, #333, #999) !important;
	background-image: linear-gradient(to bottom, #333, #999) !important;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff999999', GradientType=0) !important;
}