@CHARSET "UTF-8";
/*Admin*****************************/
div#head {
	background-image: url("../images/theme/verde/bg_head.png");
}

div#head div#logo {
	background-image: url("../images/theme/verde/bg_logo.png");
}

ul.menu li {
	background-image: url(../images/theme/verde/sprite.png);
}

div#footer {
	background-image: url("../images/theme/verde/bg_footer.png");
}

div#footer div#footer_content {
	background-image: url("../images/theme/verde/bg_footer_content.png");
}

/*Login******************************/
div#site.auth {
	background-image: url("../images/theme/verde/bg_login.jpg");
}

div#site.auth div#footer {
	background-image: url("../images/theme/verde/bg_head.png");
}

/*Bootstrap Override*****************/
.dropdown-menu li>a:hover,
.dropdown-menu li>a:focus,
.dropdown-submenu:hover>a,
.mce-menu-item:hover,
.mce-menu-item.mce-selected,
.mce-menu-item:focus {
	background-color: #3B5C18 !important;
	background-image: -moz-linear-gradient(top, #3B5C18, #9DB849) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3B5C18), to(#9DB849)) !important;
	background-image: -webkit-linear-gradient(top, #3B5C18, #9DB849) !important;
	background-image: -o-linear-gradient(top, #3B5C18, #9DB849) !important;
	background-image: linear-gradient(to bottom, #3B5C18, #9DB849) !important;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff3B5C18', endColorstr='#ff9DB849', GradientType=0) !important;
}