/* MARCAS ************************************/
span.marca {
  display: inline-block;
  background-image: url(../images/sprite.png);
  width: 45px;
  height: 25px;
}
/* PAGAMENTOS ********************************/
span.pagamento {
  background-image: url(../images/sprite.png);
  display: inline-block;
  width: 39px;
  height: 25px;
}
span.pagamento.visa {
  background-position: -301px 0;
}
span.pagamento.master {
  background-position: -360px 0;
}
span.pagamento.hiper {
  background-position: -419px 0;
}
span.pagamento.diners {
  background-position: -477px 0;
}
span.pagamento.american {
  background-position: -536px 0;
}
span.pagamento.aura {
  background-position: -595px 0;
}
span.pagamento.cheque {
  background-position: -654px 0;
}
span.pagamento.boleto {
  background-position: -712px 0;
}
span.pagamento.elo {
  background-position: -771px 0;
}
/*SELETORES***********************************/
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clear {
  clear: both;
}
.clear_left {
  clear: left;
}
.clear_right {
  clear: right;
}
.text_center {
  text-align: center;
}
/*OUTROS************************************/
div.img {
  overflow: hidden;
}
