.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.4em;
}
.alert .close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert .close:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.alert.success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert.danger,
.alert.error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert.info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
