@CHARSET "UTF-8";
/* RESETS ************************************************/
* {	
	margin: 0;
	padding: 0;
}

ul {
    list-style: none;
}

.clear {
	clear: both;
}

html, body {
	height: 100%;
}

div#site {
	width: 100%;
	min-width: 960px;
	min-height: 100%;
	position: relative;
}

div#head {
	border-bottom: 2px solid #fc0;
	background-repeat: repeat-x;
	height: 32px;
}

div#head div#logo {
	display: inline-block;
	width: 202px;
	height: 32px;
	background-position: right;
}

div#head div#logo div.ico{
	display: inline-block;
	width:26px;
	height: 26px;
	margin: 3px 12px;;
	background-image: url("../images/sprite_admin.png");
}

div#head div#logo div.titulo {
	display: inline-block;
	height: 25px;
	font-family: Verdana;	
	font-size: 13px;
	font-weight: bold;
	color: #fc0;	
	vertical-align: top;
	margin-top: 7px;
}

div#head div.empresa {
	display: inline-block;
	height: 25px;
	font-family: Verdana;	
	font-size: 13px;
	color: #fff;
	vertical-align: top;
	margin-top: 7px;
}

/*Menu config********************************************************************/
.menu_config.navbar {
	margin-bottom: 0;
}

.menu_config.navbar .nav>li>a {
	padding: 6px 10px;
	height: 22px;
	color: #eee;
	text-shadow: 0 1px 0 #333;
}

.menu_config.navbar .nav>li>a:hover,
.menu_config.navbar .nav>li>a:focus {
	color: #fff;
}

.menu_config.navbar .nav li.dropdown>.dropdown-toggle .caret,
.menu_config.navbar .nav li.dropdown.open>.dropdown-toggle .caret,
.menu_config.navbar .nav li.dropdown.active>.dropdown-toggle .caret,
.menu_config.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.menu_config.navbar .nav li.dropdown.open>.dropdown-toggle,
.menu_config.navbar .nav li.dropdown.active>.dropdown-toggle,
.menu_config.navbar .nav li.dropdown.open.active>.dropdown-toggle {
	background-color: transparent !important;
	color: #fff;
}

/*submenu Tema*/
.menu_config.navbar ul[aria-labelledby=theme] {
	min-width: 10px !important;
}

.menu_config.navbar ul[aria-labelledby=theme] span {
	display: block;
	width: 20px;
	height: 20px;
	margin: 5px;
	cursor: pointer;
}

ul[aria-labelledby=theme] span#admin-theme-verde {
	background-color: #517e21;
}

ul[aria-labelledby=theme] span#admin-theme-azul {
	background-color: #069;
}

ul[aria-labelledby=theme] span#admin-theme-cinza {
	background-color: #ccc;
}

ul[aria-labelledby=theme] span#admin-theme-chumbo {
	background-color: #666;
}

ul[aria-labelledby=theme] span#admin-theme-rosa {
	background-color: #ff3399;
}

ul[aria-labelledby=theme] span#admin-theme-preto {
	background-color: #1b1b1b;
}

ul[aria-labelledby=theme] span#admin-theme-madeira {
	background-color: #D4944E;
}

ul[aria-labelledby=theme] span#admin-theme-ciano {
	background-color: #008484;
}

ul[aria-labelledby=theme] span#admin-theme-vermelho {
	background-color: #ff0000;
}

div#site {
	background-position: center;
	background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-khtml-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}

div.border {
	background-image: url("../images/border_message.png");
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
	width: 480px;
	margin: 10% auto;
}

div.login {
	background-color: #fff;
	padding: 15px;
}

div.login form {
	margin: 0
}

p.welcome {
	text-align: right;
	font-family: Arial;
	font-size: 12px;
	color: #666;
	margin-bottom: 20px;
}

div.cadeado {
	background-image: url("../images/sprite_admin.png");
	background-position: 0 -290px;
	width: 97px;
	height: 127px;
	float: left;
	margin: 0 15px 15px 0;
}

div.form {
	width: 338px;
	float: left;
}

div.div_message {
	min-height: 30px;
}

/*FORMS ************************************************/
label,
div.control-group > label.control-label.required {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    text-shadow: 2px 2px 2px #ccc;
}

.form-horizontal .control-label {
    width: 80px;
}

div.control-group > label.control-label.required::after {
    content: "*";
    color: red;
}

.form-horizontal div.control-group {
    padding-bottom: 15px;
    margin-bottom: 0;
}

.form-horizontal .controls {
    margin-left: 90px;
}

label.error, div.control-group ul {
    color: red !important;
    font-size: 12px !important;
    font-weight: bold;
}


input[type=text], input[type=password] {
	width: 233px;
}

.bottom .btn {
	float: right;
}

div.bottom {
	padding: 10px 15px;
	background-image: url("../images/login_bottom.png");
	background-repeat: repeat-x;
}

div.bottom a {
	font-family: Arial, Verdana;
	font-size: 13px;
}

/*Footer******************************************************/
div#footer {
	border-top: 2px solid #fc0;
	background-repeat: repeat-x;
	width: 100%;
	height: 32px;
	position: absolute;
	bottom: 0;
	text-align: center;
}


div#footer p {
	padding-top: 7px;
	font-family: Arial;
	font-size: 13px;
	color: #fff;
}