@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Quattrocento+Sans:400,700);
.box-shadow-none {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.reset-appearance {
  background: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
}
.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.clear-both {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.clear-left {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: left;
}
.clear-right {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: right;
}
* {
  margin: 0;
  padding: 0;
  /*Quebra de linha*/
  /*-moz-hyphens:auto;
  -ms-hyphens:auto;
  -webkit-hyphens:auto;
  hyphens:auto;
  word-wrap:break-word;*/
}
body {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
a,
img {
  border: none;
}
img,
embed,
object,
video {
  max-width: 100%;
}
a,
textarea,
input,
input[type=text]:focus,
select:focus {
  outline: none;
}
ul {
  list-style: none;
}
input[type=button],
input[type=submit],
button {
  display: block;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.4em;
}
.alert .close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert .close:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.alert.success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert.danger,
.alert.error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert.info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
/*SELETORES***********************************/
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clear {
  clear: both;
}
.clear_left {
  clear: left;
}
.clear_right {
  clear: right;
}
.text_center {
  text-align: center;
}
/*FACEBOOK COMENTS****************************/
.fb-comments,
.fb-comments * {
  width: 100% !important;
}
.fbFeedbackContent .composer {
  background-color: transparent !important;
  border: 0 !important;
  padding: 7px 0 7px 69px !important;
}
iframe .fbFeedbackContent .composer {
  background-color: transparent !important;
  border: dotted #e9e9e9 !important;
}
/*OUTROS************************************/
div.pluginSkinLight > div {
  width: 960px !important;
}
div.img {
  overflow: hidden;
}
/*Conteudos do MCE*/
div.mce_content img {
  max-width: 930px;
}
div.mce_content img[style*="float: left"] {
  margin: 0 15px 15px 0;
}
div.mce_content img[style*="float: right"] {
  margin: 0 0 15px 15px;
}
div.mce_content img[style*="display: block"] {
  margin: 15px 0;
}
div.mce_content:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* CORES************************************************/
/*FORMS ************************************************/
div.control-group {
  padding-bottom: 10px;
}
div.control-group label.control-label {
  color: #606060;
  font-weight: 400;
  font-size: 1.4em;
}
div.control-group label.control-label.required {
  font-weight: 700;
  color: #000000;
}
div.control-group label.control-label.required:after {
  content: "*";
  color: red;
}
div.control-group label.error {
  color: red;
  display: block;
  font-size: 1.2em;
}
div.control-group label.error.valid {
  display: none !important;
}
.btn {
  display: inline-block;
  background-color: #3b5998;
  color: #fff;
  font-size: 1.8em;
  padding: 0.5555555555555556em 0.8333333333333333em;
  /*10px 15px*/
  -khtml-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  background-color: #000;
}
.btn span.icon {
  background-image: url("../images/sprite.png");
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
.btn span.icon.map {
  background-position: 0 -145px;
}
/*
/* LOADING **********************************************/
div.loading_inline {
  background-image: url("../images/loading_30x30.gif");
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 5px;
}
/************************************************************************************/
/*---------------------- CELULARES: menor ou igual a 480 px. -----------------------*/
/************************************************************************************/
/* LAYOUT ***********************************/
* {
  font-family: 'Quattrocento Sans', sans-serif;
}
body {
  background-image: url("../images/bg_body.png");
}
.wrap {
  padding: 0 2%;
}
h1 {
  font-size: 4em;
  padding-bottom: 0.6666666666666667em;
  /*30px*/
  font-weight: 300;
  color: #000000;
  font-family: 'Droid Serif', serif;
}
h1 span {
  font-size: 0.8em;
  color: #3b5998;
  text-transform: none;
  font-weight: 300;
  text-transform: uppercase;
}
h2 {
  font-size: 2.5em;
  padding-bottom: 0.6666666666666667em;
  /*30px*/
  font-weight: 700;
  color: #000000;
}
p {
  font-size: 1.6em;
  /*16px*/
  line-height: 1.6em;
  /*24px*/
  padding: 0 0 1em 0;
  /*15px*/
  font-weight: 400;
}
/* HEAD *************************************/
#head {
  background-color: #fff;
}
#head div#head_content {
  padding-top: 15px;
}
#head div#head_content .logo {
  float: left;
  width: 157px;
  height: 27px;
  margin: 5px 0 10px 0;
  background-image: url("../images/sprite.png");
  background-size: 100%;
  background-position: 0;
}
#head div#head_content .logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#head div#head_content .search_toogle {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  float: right;
  background-image: url("../images/sprite.png");
  background-position: -118px -96px;
  cursor: pointer;
}
#head div#head_content .search_toogle.active {
  background-position: -118px -136px;
}
#head div#head_content .menu_toogle {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  float: right;
  background-image: url("../images/sprite.png");
  background-position: -158px -96px;
  cursor: pointer;
}
#head div#head_content .menu_toogle.active {
  background-position: -158px -136px;
}
/*SEARCH ***************************************/
div.search {
  clear: both;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
  max-height: 0;
  height: 34px;
}
div.search form {
  background-color: #eee;
}
div.search form input[type=text] {
  background: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0 10px 10px;
}
div.search form button {
  background: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  float: right;
  position: relative;
  background-image: url("../images/sprite.png");
  background-position: -157px -180px;
  vertical-align: bottom;
  cursor: pointer;
  background-color: #3b5998;
  height: 34px;
  width: 34px;
  top: -34px;
}
div.search form button:hover {
  background-color: #5d7bba;
}
div.search.aberto {
  max-height: 34px;
  padding-bottom: 20px;
}
/* MENU *************************************/
#menu {
  background-color: #3b5998;
}
#menu #menu_content ul.menu {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
  max-height: 0;
  margin-top: 5px;
}
#menu #menu_content ul.menu > li {
  text-align: left;
  border-bottom: 1px solid #fff;
}
#menu #menu_content ul.menu > li a,
#menu #menu_content ul.menu > li span.not-link {
  padding-left: 10px;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
  /*15px*/
  line-height: 1.8em;
  color: #fff;
  font-weight: 300;
}
#menu #menu_content ul.menu > li ul {
  border-left: 5px solid #5d7bba;
  margin: 0 0 10px 10px;
}
#menu #menu_content ul.menu li:last-of-type {
  border-bottom: 0;
}
#menu #menu_content ul.menu.aberto {
  max-height: 500px;
  margin-bottom: 33px;
}
/* CONTENT INDEX ***********************************/
div.plugin {
  overflow: hidden;
}
div.plugin .caption {
  display: inline-block;
  font-size: 1.5em;
  position: absolute;
  font-weight: 400;
  /*letter-spacing: -3px;*/
  right: 0px;
  overflow: visible !important;
  color: #fff;
  text-shadow: 0 0 0.2em #333;
}
div.plugin .caption.inverse {
  color: #333;
  text-shadow: 0 0 0.1em #fff;
}
div.plugin .caption.top {
  top: 5%;
}
div.plugin .caption.middle {
  top: 35%;
}
div.plugin .caption.bottom {
  top: 85%;
}
div.plugin .caption.left {
  left: 5%;
}
div.plugin .caption.right {
  right: 50px;
}
div.columns {
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 33px;
}
div.columns div.column {
  background-color: #fff;
  margin-bottom: 33px;
}
div.columns div.column .img-wrap {
  font-size: 0;
}
div.columns div.column h2 {
  background-color: #3b5998;
  font-size: 2.8em;
  padding: .3em 0 .3em .5em;
  color: #fff;
}
div.columns div.column p {
  padding: 1em 1em 0 1em;
}
div.columns div.column a.more {
  background-image: url("../images/sprite.png");
  display: inline-block;
  float: right;
  height: 51px;
  width: 51px;
}
div.columns div.column::after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
div.columns div.column:nth-child(1) a.more {
  background-position: 0 -649px;
}
div.columns div.column:nth-child(2) h2 {
  background-color: #93389A;
}
div.columns div.column:nth-child(2) a.more {
  background-position: -51px -649px;
}
div.columns div.column:nth-child(3) h2 {
  background-color: #9B373F;
}
div.columns div.column:nth-child(3) a.more {
  background-position: -102px -649px;
}
div.columns::after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
div.index {
  background-color: #fff;
  padding-top: 33px;
  padding-bottom: 33px;
}
/* CONTENT PORTFOLIOS *********************/
div#content.portfolios div.portfolio {
  background-color: #fff;
  margin-bottom: 25px;
  padding: 20px;
}
div#content.portfolios div.portfolio div.img-wrap {
  margin-bottom: 20px;
}
div#content.portfolios:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* CONTENT PORTFOLIO *********************/
div#content.portfolio div.portfolio div.img-wrap {
  float: left;
  margin: 0 10px 10px 0;
}
div#content.portfolio:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* CONTENT SERVICOS *********************/
div#content.servicos div.servico {
  background-color: #fff;
  margin-bottom: 25px;
  padding: 20px;
}
div#content.servicos div.servico div.img-wrap {
  margin-bottom: 20px;
}
div#content.servicos:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* CONTENT SERVICO *********************/
div#content.servico div.portfolio div.img-wrap {
  float: left;
  margin: 0 10px 10px 0;
}
div#content.servico:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* FOOTER **************************************/
#footer {
  background-color: #1c1c1c;
  padding-top: 33px;
}
#footer div.info div span.mail,
#footer div.info div span.fone {
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  color: #fff;
}
#footer div.info div span.mail {
  background-position: 0 -314px;
  /**/
  font-size: 1.3em;
  padding: 0.1785714285714286em 0.3571428571428571em 0.1785714285714286em 2.142857142857143em;
  /*2.5px 5px 2.5px 30px*/
}
#footer div.info div span.fone {
  background-position: 0px -350px;
  font-size: 2em;
  padding: 10px 0 0 25px;
}
#footer div.info div span.ddd {
  font-size: .7em;
}
#footer div.texto {
  color: #eee;
  padding: 30px 0;
}
#footer div#redes_sociais div.social {
  display: inline-block;
  background-image: url("../images/sprite.png");
  width: 58px;
  height: 60px;
  background-size: 304%;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #666;
  margin-right: 23px;
  -khtml-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#footer div#redes_sociais div.social a {
  display: block;
  width: 100%;
  height: 100%;
}
#footer div#redes_sociais div.facebook {
  background-position: 5% -284%;
}
#footer div#redes_sociais div.facebook:hover {
  background-color: #3b5998;
}
#footer div#redes_sociais div.twitter {
  background-position: 49% -285%;
}
#footer div#redes_sociais div.twitter:hover {
  background-color: #55acee;
}
#footer div#redes_sociais div.googleplus {
  background-position: 5% -267%;
}
#footer div#redes_sociais div.googleplus:hover {
  background-color: #cc181e;
}
#footer div#redes_sociais div.youtube {
  background-position: 49% -33%;
}
#footer div#redes_sociais div.youtube:hover {
  background-color: #cc181e;
}
#footer div#copyright {
  padding: 15px 0;
  border-top: 1px solid #ccc;
}
#footer div#copyright span.copyright {
  color: #eee;
  font-size: 1.2em;
}
#footer div#copyright span.discovery {
  display: block;
  text-align: right;
  padding-top: 15px;
}
#footer div#copyright span.discovery a {
  color: #eee;
}
#footer div#facebook_plugin {
  padding: 30px 0;
}
#footer div#facebook_plugin iframe {
  width: 100% !important;
}
/* CONTENT *************************************/
#content {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* CONTENT CONTATO ****************************/
div#content.contato div#right .control-label {
  display: none;
}
div#content.contato div#right input[type=text],
div#content.contato div#right select,
div#content.contato div#right textarea {
  display: block;
  font-size: 1.4em;
  padding: .5em;
  width: 100%;
  box-sizing: border-box;
}
div#content.contato div#right textarea {
  height: 7em;
}
/************************************************************************************/
/*-------- TABETS: 481 px a 768 px. Herda estilos de: Layout para celulares. -------*/
/************************************************************************************/
@media only screen and (min-width: 481px) {
  /* LAYOUT ***********************************/
  .wrap {
    padding: 0 7.5%;
  }
  /* CONTENT INDEX ***********************************/
  div.plugin {
    overflow: hidden;
  }
  div.plugin .caption {
    font-size: 3em;
  }
  /* CONTENT CLIENTE/PARCEIO *********************/
  div#content.cliente,
  div#content.parceiro {
    /**/
  }
  div#content.cliente div.cliente,
  div#content.parceiro div.cliente,
  div#content.cliente div.parceiro,
  div#content.parceiro div.parceiro {
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
  }
  div#content.cliente div.cliente a,
  div#content.parceiro div.cliente a,
  div#content.cliente div.parceiro a,
  div#content.parceiro div.parceiro a {
    text-align: center;
  }
  div#content.cliente div.cliente a .img-wrap,
  div#content.parceiro div.cliente a .img-wrap,
  div#content.cliente div.parceiro a .img-wrap,
  div#content.parceiro div.parceiro a .img-wrap {
    width: 90%;
    display: inline-block;
  }
  div#content.cliente:after,
  div#content.parceiro:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}
/************************************************************************************/
/*-------- DESKTOPS: 769 px até o máximo de 1232 px. Herda estilos anteriores ------*/
/************************************************************************************/
@media only screen and (min-width: 769px) {
  /* LAYOUT ***********************************/
  .wrap {
    padding: 0 10%;
  }
  #head div#head_content {
    height: 58px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #head div#head_content .logo {
    width: 300px;
    height: 52px;
  }
  #head div#head_content .search_toogle {
    display: none;
  }
  #head div#head_content .menu_toogle {
    display: none;
  }
  /*SEARCH ***************************************/
  div.search {
    float: right;
    width: 25%;
    height: 34px;
    clear: none;
    max-height: none;
    position: relative;
    top: 15px;
  }
  div.search form {
    margin: 0;
    padding: 0;
  }
  #menu {
    z-index: 9999999;
    background-color: #fff;
    border-bottom: 5px solid #eee;
  }
  #menu #menu_content ul.menu {
    background-color: #3b5998;
    max-height: none;
    float: left;
    width: 100%;
    overflow: visible;
    padding-left: 0;
    margin-top: 0;
  }
  #menu #menu_content ul.menu > li {
    display: inline-block;
    border-bottom: 0;
    padding: 0 .05%;
    position: relative;
    vertical-align: top;
    border-right: 1px solid #fff;
    /*SUB MENU*/
  }
  #menu #menu_content ul.menu > li > a,
  #menu #menu_content ul.menu > li span.not-link {
    font-size: 1.5em;
    /*16px*/
    line-height: 3.5em;
    text-transform: uppercase;
    font-weight: 300;
    padding-left: 0;
    border-left: 0;
  }
  #menu #menu_content ul.menu > li > a:hover,
  #menu #menu_content ul.menu > li span.not-link:hover {
    border: 0;
    padding: 0;
    font-weight: 300;
  }
  #menu #menu_content ul.menu > li > a span.carret,
  #menu #menu_content ul.menu > li span.not-link span.carret {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 6px;
    background-image: url(../images/sprite.png);
    background-position: -9px -111px;
  }
  #menu #menu_content ul.menu > li ul {
    /*visibility: hidden;*/
    display: none;
    border-left: 0;
    margin-left: 0;
    position: absolute;
    left: -3px;
    top: 52px;
    width: 300px;
    max-height: 350px;
    z-index: 9999999;
    background-color: #5d7bba;
    /*-webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;*/
  }
  #menu #menu_content ul.menu > li ul li {
    border-bottom: 1px solid #fff;
  }
  #menu #menu_content ul.menu > li ul li > a {
    font-size: 1.4em;
    line-height: 2.7em;
    text-transform: none;
    padding-left: 10px !important;
    border-left: 0;
    color: #fff !important;
  }
  #menu #menu_content ul.menu > li ul li > a:hover {
    padding-left: 10px;
  }
  #menu #menu_content ul.menu > li ul li:hover {
    background-color: #3b5998;
  }
  #menu #menu_content ul.menu > li:hover ul {
    display: block;
  }
  #menu #menu_content ul.menu > li.ativo {
    background-color: #193776;
  }
  #menu #menu_content ul.menu > li.ativo a {
    padding-left: 0;
    border-left: 0;
    font-weight: 400;
  }
  #menu #menu_content div.search {
    max-height: none;
    width: 18%;
    float: right;
    padding: 12px 0 0 0;
    margin-right: 2%;
  }
  #menu #menu_content div.search form {
    width: auto;
    margin: 0;
    padding: 9px;
  }
  #menu #menu_content div.search.aberto {
    max-height: 500px;
  }
  #menu #menu_content:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  /* CONTENT INDEX ***********************************/
  div.plugin {
    overflow: hidden;
  }
  div.plugin .caption {
    font-size: 3.5em;
  }
  div.columns {
    padding-top: 66px;
    padding-bottom: 66px;
  }
  div.columns div.column {
    float: left;
    width: 31%;
  }
  div.columns div.column div.text {
    min-height: 300px;
  }
  div.columns div.column:nth-child(2) {
    margin: 0 3.5%;
  }
  div.index {
    padding-top: 66px;
    padding-bottom: 66px;
  }
  /* CONTENT QUEMSOMOS *********************/
  div#content.quemsomos div.img-wrap {
    float: right;
    max-width: 50%;
  }
  /* CONTENT CLIENTE/PARCEIO *********************/
  div#content.cliente div.cliente,
  div#content.parceiro div.cliente,
  div#content.cliente div.parceiro,
  div#content.parceiro div.parceiro {
    float: left;
    width: 25%;
    text-align: center;
    margin-bottom: 30px;
  }
  div#content.cliente div.cliente a,
  div#content.parceiro div.cliente a,
  div#content.cliente div.parceiro a,
  div#content.parceiro div.parceiro a {
    width: 80%;
  }
  div#content.cliente:after,
  div#content.parceiro:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  /* CONTENT PORTFOLIOS *********************/
  div#content.portfolios div.portfolio div.img-wrap {
    float: left;
    margin-bottom: 0;
    margin-right: 20px;
    max-width: 50% ;
  }
  div#content.portfolios div.portfolio::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  /* CONTENT PORTFOLIO *********************/
  div#content.portfolio div.portfolio div.img-wrap {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 50%;
  }
  div#content.portfolio:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  /* CONTENT SERVICOS *********************/
  div#content.servicos div.servico div.img-wrap {
    float: left;
    margin-bottom: 0;
    margin-right: 20px;
    max-width: 50% ;
  }
  div#content.servicos div.servico::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  /* CONTENT SERVICO *********************/
  div#content.servico div.servico div.img-wrap {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 50%;
  }
  div#content.servico:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  /* FOOTER **************************************/
  #footer {
    padding-top: 66px;
  }
  #footer .fb-like-box,
  #footer .fb-like-box span,
  #footer .fb-like-box span iframe[style] {
    width: 100% !important;
  }
  #footer div#footer_content div.left {
    float: left;
    width: 65.5%;
  }
  #footer div#footer_content div.right {
    float: right;
    width: 31%;
    padding-left: 3.5%;
  }
  #footer div#footer_content:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  #footer div#copyright {
    padding: 30px 0;
  }
  #footer div#copyright span.discovery {
    float: right;
    display: inline;
    text-align: left;
    padding-top: 0;
  }
  /* CONTENT *************************************/
  #content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /* INDEX CONTENT *******************************/
  #content.index div.produto {
    padding-bottom: 30px;
    float: left;
    width: 31%;
  }
  #content.index div.produto:nth-child(2) {
    margin: 0 3.5%;
  }
  #content.index:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  /* INDEX FILIAIS *******************************/
  #content.filiais div.loja .img-wrap {
    float: left;
    margin-right: 2em;
    max-width: 50%;
  }
  #content.filiais div.loja div.info {
    padding-left: 50%;
  }
  #content.filiais div.loja:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  /* CONTENT CONTATO ****************************/
  div#content.contato div#left {
    float: left;
    width: 45%;
    padding-right: 5%;
  }
  div#content.contato div#right {
    float: right;
    width: 50%;
  }
  div#content.contato div#right .control-label {
    display: block;
  }
  div#content.contato:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}
/************************************************************************************/
/*-------- DESKTOPS: 960 px até o máximo de 1980 px. Herda estilos anteriores ------*/
/************************************************************************************/
@media only screen and (min-width: 960px) {
  #menu #menu_content ul.menu > li {
    padding: 0 1.4%;
  }
  /* CONTENT INDEX ***********************************/
  div.background div.text-rotator {
    position: absolute;
    padding-top: 50px;
  }
  /* CONTENT CONTATO ****************************/
  div#content.contato div#right input[type=text],
  div#content.contato div#right select {
    width: 80%;
  }
}
