/*SELETORES***********************************/
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clear {
  clear: both;
}
.clear_left {
  clear: left;
}
.clear_right {
  clear: right;
}
.text_center {
  text-align: center;
}
/*FACEBOOK COMENTS****************************/
.fb-comments,
.fb-comments * {
  width: 100% !important;
}
.fbFeedbackContent .composer {
  background-color: transparent !important;
  border: 0 !important;
  padding: 7px 0 7px 69px !important;
}
iframe .fbFeedbackContent .composer {
  background-color: transparent !important;
  border: dotted #e9e9e9 !important;
}
/*OUTROS************************************/
div.pluginSkinLight > div {
  width: 960px !important;
}
div.img {
  overflow: hidden;
}
/*Conteudos do MCE*/
div.mce_content img {
  max-width: 930px;
}
div.mce_content img[style*="float: left"] {
  margin: 0 15px 15px 0;
}
div.mce_content img[style*="float: right"] {
  margin: 0 0 15px 15px;
}
div.mce_content img[style*="display: block"] {
  margin: 15px 0;
}
div.mce_content:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
