.box-shadow-none {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.reset-appearance {
  background: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
}
.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.clear-both {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.clear-left {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: left;
}
.clear-right {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: right;
}
