* {
	margin: 0;
	padding: 0;	
	outline: 0;
}

img {
	max-width: 960px;
}

img[style*="float: left"] {
    margin: 0 15px 15px 0;
}

img[style*="float: right"] {
    margin: 0 0 15px 15px;
}

h1 {

}

h1 span,
h2 {

}

h2 {
	margin-bottom: 30px;
}

p {
	font-size: 14px;
	color: #555;
	margin-bottom: 15px;
	line-height: 1.5em;
	word-spacing: 2px;
    padding: 4px 6px;
}

/**
 * SyntaxHighlighter
 */

pre {

}
