<?php $this->layout('layout/admin'); ?>

<?php $this->headLink()->prependStylesheet($this->basePath() . '/plugins/file-upload/css/jquery.fileupload-ui.min.css')?>

<?php $this->headScript()->appendFile($this->basePath() . '/plugins/file-upload/vendor/jquery.ui.widget.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/tmpl.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/load-image.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/canvas-to-blob.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/bootstrap-image-gallery.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/jquery.iframe-transport.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/jquery.fileupload.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/jquery.fileupload-fp.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/jquery.fileupload-ui.min.js')
                         ->appendFile($this->basePath() . '/plugins/validate/jquery.validate.min.js')
                         ->appendFile($this->basePath() . '/plugins/validate/translate/messages_pt_BR.min.js')
                         ->appendFile($this->basePath() . '/plugins/tiny-mce/tinymce.min.js')
                         ->appendFile($this->basePath() . '/js/admin-portfolio-crud.min.js')?>

<?php 
$form = $this->form;
$this->form->setAttribute('action', 
                $this->url('admin-portfolio/default', 
                array(
                     'controller' => 'portfolio', 
                     'action' => $this->action, 
                     'id' => $this->id
                )
            ));
$this->form->prepare();

$formPortfolio = $form->get('portfolio');

?>

<div class="ttoolbar">
	<ul id="mapa">
		<li class="first"></li>
		<li class="iten"><a href="<?php echo $this->url('admin-index')?>"
			title="Página Inicial">Página Inicial</a></li>
		<li class="separator"></li>
		<li class="iten"><a href="<?php echo $this->url('admin-portfolio')?>"
			title="Lista de Portfolio">Lista de Portfólios</a></li>
		<li class="separator"></li>
		<li class="iten"><span title="Portfolio">Portfólio (cód: <?php echo $this->id ?>)</span>
		</li>
	</ul>
	<div class="buttons_toolbar">
		<a id="back" href="<?php echo $this->url('admin-portfolio'); ?>"
			class="ico_back" title="Voltar"></a> <a id="save" class="ico_save"
			title="Salvar"></a>
	</div>
</div>

<?php echo $this->alertMessage(); ?>

<div class="form_container">
	<?php echo $this->form()->openTag($this->form) ?>

	<div class="box">

		<div class="box_header">
			<span class="icon"> <i class="icon-align-justify"></i>
			</span> <span class="title">Dados do Portfólio</span>
		</div>
		<div class="box_content">

			<?php echo $this->formHidden($formPortfolio->get('id')) ?>

			<div class="control-group">
				<?php echo $this->formlabel($formPortfolio->get('titulo')) ?>
				<div class="controls">
					<?php echo $this->formInput($formPortfolio->get('titulo')) ?>
					<?php echo $this->formElementErrors($formPortfolio->get('titulo')); ?>
				</div>
			</div>

			<div class="control-group">
				<?php echo $this->formlabel($formPortfolio->get('descricao')) ?>
				<div class="controls">
					<?php echo $this->formTextarea($formPortfolio->get('descricao')) ?>
					<?php echo $this->formElementErrors($formPortfolio->get('descricao')); ?>
				</div>
			</div>
        </div>
    </div>

	<?php echo $this->form()->closeTag() ?>

    <div class="box">
        <div class="box_header">
			<span class="icon"> <i class="icon-picture"></i>
			</span> <span class="title">Foto de capa</span>
        </div>
        <div class="box_content">

            <?php $id = ($this->action == 'new') ? 'new_'.$this->UsuarioIdentity()->getId() : $this->id ?>

            <?php echo $this->partial('base/partial/upload',
                array('qtd_images'        => 1,
                    'max_width'           => 640,
                    'max_height'          => 480,
                    'folder'              => 'portfolio_capa',
                    'id'                  => $id,
                    'max_width_thumbnail' => 80,
                    'max_height_thumbnail'=> 80,
                    'id_plugin'           => 1)); ?>

        </div>
    </div>

    <div class="box">
        <div class="box_header">
			<span class="icon"> <i class="icon-picture"></i>
			</span> <span class="title">Fotos adicionais (máximo 10)</span>
        </div>
        <div class="box_content">

            <?php $id = ($this->action == 'new') ? 'new_'.$this->UsuarioIdentity()->getId() : $this->id ?>

            <?php echo $this->partial('base/partial/upload',
                array('qtd_images'        => 10,
                    'max_width'           => 640,
                    'max_height'          => 480,
                    'folder'              => 'portfolio',
                    'id'                  => $id,
                    'max_width_thumbnail' => 80,
                    'max_height_thumbnail'=> 80,
                    'id_plugin'           => 2)); ?>

        </div>
    </div>
</div>