<?php $this->layout('layout/admin'); ?>

<?php $this->headLink()->prependStylesheet($this->basePath() . '/plugins/nprogress/css/nprogress.min.css');?>

<?php $this->headScript()->appendFile($this->basePath() . '/plugins/nprogress/nprogress.min.js')
                         ->appendFile($this->basePath() . '/plugins/data-table/jquery.dataTables.min.js')
                         ->appendFile($this->basePath() . '/plugins/data-table/datatable-ColumnFilter.min.js')
                         ->appendFile($this->basePath() . '/plugins/double-tap/jquery.doubletap.min.js')
                         ->appendFile($this->basePath() . '/plugins/tiny-mce/tinymce.min.js')
                         ->appendFile($this->basePath() . '/js/admin-partial-mercado-livre.min.js')
                         ->appendFile($this->basePath() . '/js/admin-portfolio-index.min.js')?>

<div class="ttoolbar">
	<ul id="mapa">
		<li class="first"></li>
		<li class="iten">
			<a href="<?php echo $this->url('admin-index')?>" title="Página Inicial">Página Inicial</a>
		</li>
		<li class="separator"></li>
		<li class="iten">
			<span title="Lista de portfolios">Lista de portfolios</span>
		</li>
	</ul>
	<div class="buttons_toolbar">
		<a href="<?php echo $this->url('admin-portfolio/default', array('action' => 'new')); ?>" id="new" class="ico_new" title="Novo"></a>
		<!-- <a id="view" class="ico_view" title="Visualizar"></a> -->
		<a id="edit" class="ico_edit" title="Editar"></a>
		<a id="delete" class="ico_delete" title="Excluir"></a>
	</div>
</div>                				 

<?php echo $this->alertMessage(); ?>

<table class="datagrid">
	<thead>
		<tr>
			<th width="10px">Cód</th>
			<th>Título</th>
		</tr>
	</thead>
	<thead>
		<tr>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
        <?php if($this->data->count()): ?>
            <?php foreach ($this->data as $portfolio): ?>
            <tr>
                <td align="center"><?php echo $portfolio->getId(); ?></td>
                <td><?php echo $portfolio->getTitulo(); ?></td>
            </tr>
            <?php endforeach; ?>
        <?php endif; ?>
    </tbody>
</table>
<div class="clear"></div>
