<?php $this->layout('layout/admin'); ?>

<?php $this->headScript()->appendFile($this->basePath() . '/plugins/validate/jquery.validate.min.js')
                         ->appendFile($this->basePath() . '/plugins/validate/translate/messages_pt_BR.min.js')
                         ->appendFile($this->basePath() . '/plugins/tiny-mce/tinymce.min.js')
                         ->appendFile($this->basePath() . '/js/admin-alterar-senha.min.js')?>

<?php
$form = $this->form;

$form->setAttribute('action', $this->url('admin-usuario/default', array('action' => 'alterar-senha', 'id' => $this->id)));
$form->prepare();

$fieldsetSenha = $form->get('usuario');
?>
<div class="ttoolbar">
    <ul id="mapa">
        <li class="first"></li>
        <li class="iten">
            <a href="<?php echo $this->url('admin-index')?>" title="Página Inicial">Página Inicial</a>
        </li>
        <li class="separator"></li>
        <li class="iten">
            <a href="<?php echo $this->url('admin-usuario')?>" title="Lista de Usuários">Lista de Usuários</a>
        </li>
        <li class="separator"></li>
        <li class="iten">
            <span title="Usuário">Usuário (cód: <?php echo $this->id ?>)</span>
        </li>
    </ul>
    <div class="buttons_toolbar">
        <a href="<?php echo $this->url('admin-usuario/default', ['action' => 'editar', 'id' => $this->id])?>" id="back" class="ico_back" title="Voltar"></a>
        <a id="save" class="ico_save" title="Salvar"></a>
    </div>
</div>
<div class="form_container">

    <div class="box">

        <div class="box_header">
			<span class="icon">
				<i class="icon-align-justify"></i>
			</span>
            <span class="title">Alterar senha do Usuário</span>
        </div>

        <div class="box_content">

            <?php echo $this->form()->openTag($this->form) ?>

                <?php echo $this->formElement($this->form->get('security')); ?>

                <div class="control-group">
                    <?php echo $this->formlabel($fieldsetSenha->get('senhaAtual')) ?>
                    <div class="controls">
                        <?php echo $this->formInput($fieldsetSenha->get('senhaAtual')) ?>
                        <?php echo $this->formElementErrors($fieldsetSenha->get('senhaAtual')); ?>
                    </div>
                </div>

                <div class="control-group">
                    <?php echo $this->formlabel($fieldsetSenha->get('senha')) ?>
                    <div class="controls">
                        <?php echo $this->formInput($fieldsetSenha->get('senha')) ?>
                        <?php echo $this->formElementErrors($fieldsetSenha->get('senha')); ?>
                    </div>
                </div>

                <div class="control-group">
                    <?php echo $this->formlabel($fieldsetSenha->get('confirmacao')) ?>
                    <div class="controls">
                        <?php echo $this->formInput($fieldsetSenha->get('confirmacao')) ?>
                        <?php echo $this->formElementErrors($fieldsetSenha->get('confirmacao')); ?>
                    </div>
                </div>

            <?php echo $this->form()->closeTag() ?>

        </div>

    </div>

</div>