<?php $this->layout('layout/admin'); ?>

<?php $this->headLink()->prependStylesheet($this->basePath() . '/plugins/file-upload/css/jquery.fileupload-ui.min.css') ?>

<?php $this->headScript()->appendFile($this->basePath() . '/plugins/file-upload/vendor/jquery.ui.widget.min.js')
    ->appendFile($this->basePath() . '/plugins/file-upload/tmpl.min.js')
    ->appendFile($this->basePath() . '/plugins/file-upload/load-image.min.js')
    ->appendFile($this->basePath() . '/plugins/file-upload/canvas-to-blob.min.js')
    ->appendFile($this->basePath() . '/plugins/file-upload/bootstrap-image-gallery.min.js')
    ->appendFile($this->basePath() . '/plugins/file-upload/jquery.iframe-transport.min.js')
    ->appendFile($this->basePath() . '/plugins/file-upload/jquery.fileupload.min.js')
    ->appendFile($this->basePath() . '/plugins/file-upload/jquery.fileupload-fp.min.js')
    ->appendFile($this->basePath() . '/plugins/file-upload/jquery.fileupload-ui.min.js')

    ->appendFile($this->basePath() . '/plugins/validate/jquery.validate.min.js')
    ->appendFile($this->basePath() . '/plugins/validate/translate/messages_pt_BR.min.js')
    ->appendFile($this->basePath() . '/plugins/tiny-mce/tinymce.min.js')
    ->appendFile($this->basePath() . '/js/admin-usuario-crud.min.js')?>

<?php
$form = $this->form;
$this->form->setAttribute('action', $this->url('admin-usuario/default', array('action' => 'editar', 'id' => $this->id)));
$this->form->prepare();

$formUsuario = $form->get('usuario');
?>

<div class="ttoolbar">
    <ul id="mapa">
        <li class="first"></li>
        <li class="iten">
            <a href="<?php echo $this->url('admin-index')?>" title="Página Inicial">Página Inicial</a>
        </li>
        <li class="separator"></li>
        <li class="iten">
            <a href="<?php echo $this->url('admin-usuario')?>" title="Lista de Usuários">Lista de Usuários</a>
        </li>
        <li class="separator"></li>
        <li class="iten">
            <span title="Usuário">Usuário (cód: <?php echo $this->id ?>)</span>
        </li>
    </ul>
    <div class="buttons_toolbar">
        <a href="<?php echo $this->url('admin-usuario')?>" id="back" class="ico_back" title="Voltar"></a>
        <a id="save" class="ico_save" title="Salvar"></a>
    </div>
</div>
<div class="form_container">

    <?php echo $this->form()->openTag($this->form) ?>

    <div class="box">

        <div class="box_header">
			<span class="icon">
				<i class="icon-align-justify"></i>
			</span>
            <span class="title">Dados do Usuário</span>
        </div>

        <div class="box_content">

            <?php echo $this->formHidden($formUsuario->get('id')) ?>

            <div class="control-group">
                <div class="controls">
                    <?php echo $this->formHidden($form->get('security')) ?>
                    <?php echo $this->formElementErrors($form->get('security')); ?>
                </div>
            </div>

            <div class="control-group">
                <?php echo $this->formlabel($formUsuario->get('nome')) ?>
                <div class="controls">
                    <?php echo $this->formInput($formUsuario->get('nome')) ?>
                    <?php echo $this->formElementErrors($formUsuario->get('nome')); ?>
                </div>
            </div>

            <div class="control-group">
                <?php echo $this->formlabel($formUsuario->get('email')) ?>
                <div class="controls">
                    <?php echo $this->formInput($formUsuario->get('email')) ?>
                    <?php echo $this->formElementErrors($formUsuario->get('email')); ?>
                </div>
            </div>

            <div class="control-group">
                <?php echo $this->formlabel($formUsuario->get('ativo')) ?>
                <div class="controls">
                    <?php echo $this->formCheckbox($formUsuario->get('ativo')) ?>
                    <?php echo $this->formElementErrors($formUsuario->get('ativo')); ?>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <a href="<?php echo $this->url('admin-usuario/default', ['action' => 'alterar-senha', 'id' => $this->id]);?>" class="btn">alterar senha</a>
                </div>
            </div>

        </div>
    </div>

    <?php echo $this->form()->closeTag() ?>

    <div class="box">
        <div class="box_header">
			<span class="icon">
				<i class="icon-picture"></i>
			</span>
            <span class="title">Foto Usuário</span>
        </div>
        <div class="box_content">

            <?php $id = ($this->action == 'new') ? 'new_'.$this->UsuarioIdentity()->getId() : $this->id ?>

            <?php echo $this->partial('base/partial/upload',
                array('qtd_images'        => 10,
                    'max_width'           => 640,
                    'max_height'          => 480,
                    'folder'              => 'usuario',
                    'id'                  => $id,
                    'max_width_thumbnail' => 100,
                    'max_height_thumbnail'=> 100,
                    'id_plugin'           => 1)); ?>

        </div>
    </div>
</div>
