<?php $this->layout('layout/admin'); ?>

<?php $this->headLink()->prependStylesheet('//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css') ?>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Usuários
    </h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo $this->url('admin-index') ?>"><i class="fa fa-dashboard"></i> Início</a></li>
        <li class="active">Usuários</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <?php echo $this->alertMessage(); ?>

    <div class="row">

        <!-- ToolBar -->
        <div id="toolbar" class="col-md-12">
            <div class="btn-group pull-right">
                <a class="btn btn-default" href="<?php echo $this->url('admin-usuario/default', array('action' => 'new')); ?>" title="Novo"><i class="fa fa-plus"></i></a>
                <button type="button" id="edit" class="btn btn-default" title="Editar"><i class="fa fa-pencil"></i></button>
                <button type="button" id="delete" class="btn btn-default" title="Excluir"><i class="fa  fa-trash-o"></i></button>
                <button type="button" id="select-all" class="btn btn-default" title="Selecionar todos"><i class="fa fa-check-square-o"></i></button>
                <button type="button" id="select-none" class="btn btn-default" title="Selecionar nenhum"><i class="fa fa-square-o"></i></button>
            </div>
        </div>

        <!-- Box -->
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">Informações básicas</h3>
                </div>

                <div class="box-body">

                    <table class="datagrid table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Ativo</th>
                            <th>Criado</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Cód</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Ativo</th>
                            <th>Criado</th>
                            <th>Atualizado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->data as $usuario): ?>
                            <tr>
                                <td><?php echo $usuario->getId(); ?></td>
                                <td><?php echo $usuario->getNome(); ?></td>
                                <td><?php echo $usuario->getEmail(); ?></td>
                                <td><?php echo $usuario->isAtivo() ? 'Sim' : 'Não'; ?></td>
                                <!--			<td>--><?php //echo $usuario->getRegra()->getNome(); ?><!--</td>-->
                                <td><?php echo $this->dateFormat($usuario->getCriadoEm(), IntlDateFormatter::MEDIUM, IntlDateFormatter::SHORT, 'pt_BR') ?></td>
                                <td><?php echo $this->dateFormat($usuario->getAtualizadoEm(), IntlDateFormatter::MEDIUM, IntlDateFormatter::SHORT, 'pt_BR') ?></td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>

</section>

<?php // Inline Scripts (are inserted in the order normal)
$this->inlineScript()
    // Aditinals ---------------------------------
    ->appendFile($this->basePath() . '/plugins/validate/jquery.validate.min.js')
    ->appendFile($this->basePath() . '/plugins/validate/translate/messages_pt_BR.min.js')
    // data table
    ->appendFile('//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js')
    ->appendFile($this->basePath('/plugins/data-table-1.10.5/add-on/jquery.dataTables.ColumnFilter.js'))

    ->appendFile($this->basePath() . '/plugins/double-tap/jquery.doubletap.min.js')
    ->appendFile($this->basePath('/js/admin-usuario-index.min.js'))
?>
