<?php $this->layout('layout/site'); ?>

<?php $this->headTitle()->set( 'Contato - Fale conosco, a sua opinião é muito importante para nós' ) ?>

<?php $this->headMeta()->setName('keywords', 'daniel, topografia, contato, fale conosco, email, mensagem, localização' )
	  				   ->setName('description', 'Entre em contato conosco, estamos prontos para atende-lo, , a sua opinião é muito importante para nós' )
					   ->setName('robots', 'index, follow')
					   ->setName('googlebot', 'all')
					   ->setName('revisit-after', '2 days') ?>		

<?php $this->headScript()->appendFile($this->basePath() . '/plugins/validate/jquery.validate.min.js')
                         ->appendFile($this->basePath() . '/plugins/validate/translate/messages_pt_BR.min.js')
                         ->appendFile($this->basePath() . '/js/site-contato.js') ?>
					   
<?php 
$formContato = $this->form;
$this->form->setAttribute('action', $this->url('site-contato', array('controller' => 'contato', 'action' => $this->action, 'id' => $this->id)));
$this->form->prepare();
?>

<div id="content" class="contato wrap">
    
    <h1>Fale conosco <span>A sua opinião é muito importante para nós</span></h1>

    <div id="left">

        <div class="border">
            <div class="mce_content">
                <?php echo $this->HEmpresa()->getTextoContato(); ?>
            </div>

            <?php if($this->HEmpresa()->getMapaLocalizacao()): ?>
                <h2>Localização</h2>
                <?php echo $this->HEmpresa()->getMapaLocalizacao(); ?>
            <?php endif; ?>
        </div>

    </div>

    <div id="right">

        <?php echo $this->flashMessage(); ?>

        <?php $this->form->setAttribute('action', $this->url('site-contato'));
        $this->form->prepare(); ?>
        <?php echo $this->form()->openTag($this->form) ?>

        <?php echo $this->formHidden($formContato->get('security_contato')) ?>

        <div class="control-group">
            <?php echo $this->formlabel($formContato->get('nome')) ?>
            <div class="controls">
                <?php echo $this->formInput($formContato->get('nome')) ?>
                <?php echo $this->formElementErrors($formContato->get('nome')); ?>
            </div>
        </div>

        <div class="control-group">
            <?php echo $this->formlabel($formContato->get('telefone')) ?>
            <div class="controls">
                <?php echo $this->formInput($formContato->get('telefone')) ?>
                <?php echo $this->formElementErrors($formContato->get('telefone')); ?>
            </div>
        </div>

        <div class="control-group">
            <?php echo $this->formlabel($formContato->get('email')) ?>
            <div class="controls">
                <?php echo $this->formInput($formContato->get('email')) ?>
                <?php echo $this->formElementErrors($formContato->get('email')); ?>
            </div>
        </div>

        <div class="control-group">
            <?php echo $this->formlabel($formContato->get('assunto')) ?>
            <div class="controls">
                <?php echo $this->formInput($formContato->get('assunto')) ?>
                <?php echo $this->formElementErrors($formContato->get('assunto')); ?>
            </div>
        </div>

        <div class="control-group">
            <?php echo $this->formlabel($formContato->get('mensagem')) ?>
            <div class="controls">
                <?php echo $this->formtextarea($formContato->get('mensagem')) ?>
                <?php echo $this->formElementErrors($formContato->get('mensagem')); ?>
            </div>
        </div>

        <div class="control-group no-label">
            <?php echo $this->formlabel($formContato->get('captcha')) ?>
            <div class="controls">
                <?php echo $this->formcaptcha($formContato->get('captcha')) ?>
                <?php echo $this->formElementErrors($formContato->get('captcha')); ?>
            </div>
        </div>

        <div class="control-group no-label">
            <button id="submit_contato" type="submit" class="btn btn-primary">
                <span class="ico ico-send ico-right"></span>Enviar
            </button>
        </div>

        <?php echo $this->form()->closeTag() ?>

    </div>
	
</div>