<?php echo $this->doctype(); ?>

<html lang="pt">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Painel Administrativo | Discovery Tecnologia') ?>
        <?php // Meta Tags
        echo $this->headMeta()
            ->setName('viewport', 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
            ->setName('author', 'Andre Luiz Haag, Diego wagner')
        	->appendHttpEquiv('copyright', 'Discovery Tecnologia');
        ?>

        <?php // Le styles (are inserted in the order reverse)
        echo $this->headLink(
                array(
                    'rel' => 'shortcut icon',
                    'type' => 'image/vnd.microsoft.icon',
                    'href' => $this->basePath() . '/images/config.ico'
                )
            )
            ->prependStylesheet($this->basePath('css/AdminLTE.css'))
            // bootstrap wysihtml5 - text editor
            ->prependStylesheet($this->basePath('css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'))
            // Daterange picker
            ->prependStylesheet($this->basePath('/css/daterangepicker/daterangepicker-bs3.css'))
            ->prependStylesheet($this->basePath('/css/datepicker/datepicker3.css'))
            ->prependStylesheet($this->basePath('/css/jvectormap/jquery-jvectormap-1.2.2.css'))
            ->prependStylesheet($this->basePath('/css/morris/morris.css'))
            ->prependStylesheet('//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css')
            ->prependStylesheet('//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css')
            ->prependStylesheet('//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
        ?>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <?php // Scripts (are inserted in the order reverse)
        echo $this->headScript()
            //->prependFile($this->basePath() . '/js/admin.min.js')
            //->prependFile($this->basePath() . '/plugins/cookie/jquery.cookie.min.js')
            //->prependFile($this->basePath() . '/plugins/masked-input/jquery.maskedinput.min.js')
            //->prependFile($this->basePath() . '/plugins/masked-input/jquery.maskMoney.js')
            //->prependFile($this->basePath() . '/plugins/msg-box/jquery.msgBox.min.js')
            //->prependFile($this->basePath() . '/plugins/file-upload/bootstrap.min.js')
           // ->prependFile($this->basePath() . '/plugins/jquery/jquery-1.8.2.min.js')
        ?>

    </head>

    <body class="skin-blue">

    <!-- header logo: style can be found in header.less -->
    <header class="header">
        <a href="index.html" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            Painel Admin
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">

                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-warning"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users warning"></i> 5 new members joined
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="ion ion-ios7-cart success"></i> 25 sales made
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ion ion-ios7-person danger"></i> You changed your username
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>

                    <li class="dropdown config-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <ul class="dropdown-menu">

                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li class="header">Cor</li>
                                    <li>
                                        <div class="select-theme">
                                            <div class="col-xs-2 theme bg-olive"></div>
                                            <div class="col-xs-2 theme bg-green"></div>
                                            <div class="col-xs-2 theme bg-lime"></div>
                                            <div class="col-xs-2 theme bg-teal"></div>
                                            <div class="col-xs-2 theme bg-aqua"></div>
                                            <div class="col-xs-2 theme bg-blue"></div>
                                            <div class="col-xs-2 theme bg-light-blue"></div>
                                            <div class="col-xs-2 theme bg-navy"></div>
                                            <div class="col-xs-2 theme bg-yellow"></div>
                                            <div class="col-xs-2 theme bg-orange"></div>
                                            <div class="col-xs-2 theme bg-red"></div>
                                            <div class="col-xs-2 theme bg-maroon"></div>
                                            <div class="col-xs-2 theme bg-fuchsia"></div>
                                            <div class="col-xs-2 theme bg-purple"></div>
                                            <div class="col-xs-2 theme bg-gray"></div>
                                            <div class="col-xs-2 theme bg-silver"></div>
                                            <div class="col-xs-2 theme bg-dimgray"></div>
                                            <div class="col-xs-2 theme bg-black"></div>
                                        </div>
                                    </li>
                                    <li class="header">Layout</li>
                                    <li>
                                        <div class="select-config">
                                            <label><input type="checkbox" /> Menus fixos</label>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span><?php echo $this->UsuarioIdentity()->getNome(); ?> <i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header bg-light-blue">
                                <?php $imgs = $this->HImages('usuario', $this->UsuarioIdentity()->getId() )?>
                                <?php if(isset($imgs['img'])): ?>
                                    <img src="<?php echo $imgs['imgPath'] . $imgs['img'] ?>" class="img-circle" alt="usuario" />
                                <?php else:?>
                                    <img src="/images/user.png" class="img-circle" alt="usuario" />
                                <?php endif;?>
                                <p>
                                    <?php echo $this->UsuarioIdentity()->getNome(); ?>
                                    <small><?php echo $this->UsuarioIdentity()->getEmail(); ?></small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="pull-left">
                                    <a href="<?php echo $this->url('admin-usuario/default', array('action' => 'edit', 'id' => $this->UsuarioIdentity()->getId() ) ) ?>">
                                        <i class="fa fa-gear"></i>
                                        Configurar conta
                                    </a>
                                </div>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Bloquear</a>
                                </div>
                                <div class="pull-right">
                                    <a href="<?php echo $this->url('acl-logout');?>" class="btn btn-default btn-flat">Sair</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Pesquisar..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                    </div>
                </form>
                <!-- /.search form -->

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <?php echo $this->navigation('Navigation\Admin')->menu()->setPartial(array('partial/navigation-admin.phtml', 'menu_admin'))->render(); ?>

            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <?php echo $this->content; ?>
        </aside><!-- /.right-side -->

    </div><!-- ./wrapper -->

    <?php // Inline Scripts (are inserted in the order reverse)
    echo $this->inlineScript()
        ->prependFile($this->basePath('plugins/cookie/jquery.cookie.min.js'))
        ->prependFile($this->basePath('plugins/masked-input/jquery.maskedinput.min.js'))
        ->prependFile($this->basePath('plugins/masked-input/jquery.maskMoney.js'))
        ->prependFile($this->basePath('plugins/msg-box/jquery.msgBox.min.js'))
        // AdminLTE for demo purposes
        ->prependFile($this->basePath('js/AdminLTE/demo.js'))
        // AdminLTE dashboard demo (This is only for demo purposes)
        //->prependFile($this->basePath('js/AdminLTE/dashboard.js'))
        // AdminLTE App
        ->prependFile($this->basePath('js/AdminLTE/app.js'))
        // iCheck
        ->prependFile($this->basePath('js/plugins/iCheck/icheck.min.js'))
        // Bootstrap WYSIHTML5
        ->prependFile($this->basePath('js/plugins/bootstrap-wysihtml5/locales/bootstrap-wysihtml5.pt-BR.js'))
        ->prependFile($this->basePath('js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js'))
        // datepicker
        ->prependFile($this->basePath('js/plugins/datepicker/bootstrap-datepicker.js'))
        // daterangepicker
        ->prependFile($this->basePath('js/plugins/daterangepicker/daterangepicker.js'))
        // jQuery Knob Chart
        ->prependFile($this->basePath('js/plugins/jqueryKnob/jquery.knob.js'))
        // jvectormap
        ->prependFile($this->basePath('js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'))
        ->prependFile($this->basePath('js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'))
        // Sparkline
        ->prependFile($this->basePath('js/plugins/sparkline/jquery.sparkline.min.js'))
        //  Morris.js charts
        ->prependFile($this->basePath('js/plugins/morris/morris.min.js'))
        ->prependFile('//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
        // jquery ui
        ->prependFile('//code.jquery.com/ui/1.11.3/jquery-ui.min.js')
        // bootstrap
        ->prependFile('//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
        // jquery
        ->prependFile('//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js');
    ?>
    </body>
</html>