<?php $this->layout('layout/site'); ?>

<?php $this->headTitle()->set( 'Portfolio' ) ?>

<?php $this->headMeta()->setName('keywords', 'daniel, topografia, geodesia, agrimensura, remembramento, desmembramento, area, obras, licenca, bombeiros, alvara, funcionamento, habite-se florianopolis, sao jose, biguacu, palhoca' )
	  				   ->setName('description', 'Conheça o portfolio da Daniel Topografia' )
					   ->setName('robots', 'index, follow')
					   ->setName('googlebot', 'all')
					   ->setName('revisit-after', '2 days') ?>

<div id="content" class="portfolios wrap">

    <h1>Portfolio <span>Conheça nossos trabalhos</span></h1>

    <?php $count = 0 ?>

    <?php foreach($this->portfolios as $portfolio): ?>

        <div class="portfolio">

            <?php $imgs = $this->HImages('portfolio', $portfolio->getId() )?>
            <div class="img-wrap">
                <?php if( $imgs['img'] ): ?>
                    <img src="<?php echo $imgs['imgPath'] . $imgs['img'] ?>" class="transition" />
                <?php endif; ?>
            </div>

            <h2><?php echo $portfolio->getTitulo(); ?></h2>

            <p><?php echo $this->HHtmlAbreviate($portfolio->getDescricao(), 150); ?></p>

            <a href="<?php echo $this->url('site-portfolio/view', array('slug'=>$this->HStringToSlug($portfolio->getId().'-'.$portfolio->getTitulo()) )) ?>" class="btn">Ler Mais</a>

            <?php $count++ ?>

        </div>

    <?php endforeach ?>

    <?php if($count == 0): ?>

        <h1>Nenhum portfolio encontrado</h1>

    <?php endif ?>

</div><!-- #content -->