<?php $this->layout('layout/site'); ?>

<?php $dinamicTags =  $this->HStringToKeyWords($this->portfolio->getTitulo().' '.
                                               $this->portfolio->getDescricao() ) ?>

<?php $this->headTitle()->set( $this->portfolio->getTitulo().' | no Daniel Topografia' ) ?>

<?php $this->headMeta()->setName('keywords', $dinamicTags.', daniel, topografia, geodesia, agrimensura, remembramento, desmembramento, area, obras, licenca, bombeiros, alvara, funcionamento, habite-se florianopolis, sao jose, biguacu, palhoca' )
	  				   ->setName('description', 'Portfolio '.$this->portfolio->getTitulo() )
					   ->setName('robots', 'index, follow')
					   ->setName('googlebot', 'all')
					   ->setName('revisit-after', '2 days') ?>

<?php $this->headLink()->prependStylesheet($this->basePath() . '/plugins/magnific-popup/magnific-popup.css') ?>

<?php $this->headScript()->prependFile($this->basePath() . '/plugins/magnific-popup/jquery.magnific-popup.min.js')
                        ->prependFile($this->basePath() . '/js/site-portfolio.min.js')?>


<div id="content" class="wrap portfolio">

    <div class="portfolio">

        <h1><?php echo $this->portfolio->getTitulo(); ?></h1>

        <?php $imgsCapa = $this->HImages('portfolio_capa', $portfolio->getId() )?>
        <?php if( $imgsCapa['img'] ): ?>

            <?php foreach ($imgsCapa['imgs'] as $file):?>

                <div class="img-wrap">
                    <img src="<?php echo $imgsCapa['imgPath'] . $file ?>" class="transition" />
                </div>

            <?php endforeach; ?>

        <?php endif; ?>

        <?php echo $this->portfolio->getDescricao(); ?>

        <?php $imgs = $this->HImages('portfolio', $portfolio->getId() )?>
        <div class="thumbnail-container">

            <?php if( $imgs['img'] ): ?>

                <?php foreach ($imgs['imgs'] as $file):?>

                    <a href="<?php echo $imgs['imgPath'] . $file ?>">
                        <div class="img-wrap">
                                <img src="<?php echo $imgs['thumbnailPath'] . $file ?>" class="transition" />
                        </div>
                    </a>

                <?php endforeach; ?>

            <?php endif; ?>

        </div>

    </div>
	
</div>