<?php $this->layout('layout/admin'); ?>

<?php $this->headLink()->prependStylesheet($this->basePath() . '/plugins/file-upload/css/jquery.fileupload-ui.min.css')?>

<?php $this->headScript()->appendFile($this->basePath() . '/plugins/file-upload/vendor/jquery.ui.widget.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/tmpl.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/load-image.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/canvas-to-blob.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/bootstrap-image-gallery.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/jquery.iframe-transport.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/jquery.fileupload.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/jquery.fileupload-fp.min.js')
                         ->appendFile($this->basePath() . '/plugins/file-upload/jquery.fileupload-ui.min.js')
                         ->appendFile($this->basePath() . '/plugins/validate/jquery.validate.min.js')
                         ->appendFile($this->basePath() . '/plugins/validate/translate/messages_pt_BR.min.js')
                         ->appendFile($this->basePath() . '/js/admin-parceiro-crud.min.js')?>

<?php 
$form = $this->form;
$this->form->setAttribute('action', 
                $this->url('admin-parceiro/default', 
                array(
                     'controller' => 'parceiro', 
                     'action' => $this->action, 
                     'id' => $this->id
                )
            ));
$this->form->prepare();

$formParceiro = $form->get('parceiro');

?>

<div class="ttoolbar">
	<ul id="mapa">
		<li class="first"></li>
		<li class="iten"><a href="<?php echo $this->url('admin-index')?>"
			title="Página Inicial">Página Inicial</a></li>
		<li class="separator"></li>
		<li class="iten"><a href="<?php echo $this->url('admin-parceiro')?>"
			title="Lista de Clientes">Lista de Clientes/Parceiros</a></li>
		<li class="separator"></li>
		<li class="iten"><span title="Clientes">Parceiro (cód: <?php echo $this->id ?>)</span>
		</li>
	</ul>
	<div class="buttons_toolbar">
		<a id="back" href="<?php echo $this->url('admin-parceiro'); ?>"
			class="ico_back" title="Voltar"></a> <a id="save" class="ico_save"
			title="Salvar"></a>
	</div>
</div>

<?php echo $this->alertMessage(); ?>

<div class="form_container">
	<?php echo $this->form()->openTag($this->form) ?>

	<div class="box">

		<div class="box_header">
			<span class="icon"> <i class="icon-align-justify"></i>
			</span> <span class="title">Dados do Produto</span>
		</div>
		<div class="box_content">

			<?php echo $this->formHidden($formParceiro->get('id')) ?>

			<div class="control-group">
				<?php echo $this->formlabel($formParceiro->get('nome')) ?>
				<div class="controls">
					<?php echo $this->formInput($formParceiro->get('nome')) ?>
					<?php echo $this->formElementErrors($formParceiro->get('nome')); ?>
				</div>
			</div>

            <div class="control-group">
                <?php echo $this->formlabel($formParceiro->get('link')) ?>
                <div class="controls">
                    <?php echo $this->formInput($formParceiro->get('link')) ?>
                    <?php echo $this->formElementErrors($formParceiro->get('link')); ?>
                </div>
            </div>

            <div class="control-group">
                <?php echo $this->formlabel($formParceiro->get('cliente')) ?>
                <div class="controls">
                    <?php echo $this->formCheckbox($formParceiro->get('cliente')) ?>
                    <?php echo $this->formElementErrors($formParceiro->get('cliente')); ?>
                </div>
            </div>

            <div class="control-group">
                <?php echo $this->formlabel($formParceiro->get('parceiro')) ?>
                <div class="controls">
                    <?php echo $this->formCheckbox($formParceiro->get('parceiro')) ?>
                    <?php echo $this->formElementErrors($formParceiro->get('parceiro')); ?>
                </div>
            </div>
            
        </div>
    </div>

	<?php echo $this->form()->closeTag() ?>

    <div class="box">
        <div class="box_header">
			<span class="icon"> <i class="icon-picture"></i>
			</span> <span class="title">Fotos do parceiro / cliente</span>
        </div>
        <div class="box_content">

            <?php $id = ($this->action == 'new') ? 'new_'.$this->UsuarioIdentity()->getId() : $this->id ?>

            <?php echo $this->partial('base/partial/upload',
                array('qtd_images'        => 1,
                    'max_width'           => 320,
                    'max_height'          => 600,
                    'folder'              => 'parceiro',
                    'id'                  => $id,
                    'max_width_thumbnail' => 80,
                    'max_height_thumbnail'=> 80)); ?>

        </div>
    </div>
</div>