<?php $this->layout('layout/admin'); ?>

<?php $this->headScript()->appendFile($this->basePath() . '/plugins/tiny-mce/tinymce.min.js')
                         ->appendFile($this->basePath() . '/plugins/validate/jquery.validate.min.js')
                         ->appendFile($this->basePath() . '/js/admin-suporte-crud.min.js')?>

<?php
$form = $this->form;
$this->form->setAttribute('action',
    $this->url('admin-suporte/default',
        array(
            'controller' => 'loja',
            'action' => $this->action,
            'id' => $this->id
        )
    ));
$this->form->prepare();

?>

<div class="ttoolbar">
    <ul id="mapa">
        <li class="first"></li>
        <li class="iten"><a href="<?php echo $this->url('admin-index')?>"
                            title="Página Inicial">Página Inicial</a></li>
        <li class="separator"></li>
        <li class="iten"><a href="<?php echo $this->url('admin-index')?>"
                            title="Suporte">Suporte</a></li>
    </ul>
    <div class="buttons_toolbar">
        <a id="back" href="<?php echo $this->url('admin-index'); ?>" class="ico_back" title="Voltar"></a>
        <a id="save" class="ico_email" title="Salvar"></a>
    </div>
</div>

<?php echo $this->alertMessage(); ?>

<div class="form_container">
    <?php echo $this->form()->openTag($this->form) ?>

    <div class="box">

        <div class="box_header">
			<span class="icon"> <i class="icon-align-justify"></i>
			</span> <span class="title">Suporte</span>
        </div>
        <div class="box_content">

            <div class="control-group">
                <div class="controls">
                    <?php echo $this->formHidden($form->get('security')) ?>
                    <?php echo $this->formElementErrors($form->get('security')); ?>
                </div>
            </div>

            <div class="control-group">
                <?php echo $this->formlabel($form->get('assunto')) ?>
                <div class="controls">
                    <?php echo $this->formInput($form->get('assunto')) ?>
                    <?php echo $this->formElementErrors($form->get('assunto')); ?>
                </div>
            </div>


            <div class="control-group">
                <?php echo $this->formlabel($form->get('mensagem')) ?>
                <div class="controls">
                    <?php echo $this->formTextarea($form->get('mensagem')) ?>
                    <?php echo $this->formElementErrors($form->get('mensagem')); ?>
                </div>
            </div>

        </div>
    </div>

    <?php echo $this->form()->closeTag() ?>

</div>