<?php $this->layout('layout/admin'); ?>

<?php $this->headLink()
    ->prependStylesheet('//blueimp.github.io/Gallery/css/blueimp-gallery.min.css')
    ->prependStylesheet($this->basePath('/plugins/file-upload-9.9.3/css/jquery.fileupload-ui.min.css'))
    ->prependStylesheet($this->basePath('/plugins/file-upload-9.9.3/css/jquery.fileupload.min.css'))
?>

<?php 
$form = $this->form;
$this->form->setAttribute(
    'action',
    $this->url(
        'admin-empresa/default',
        array(
             'controller' => 'empresa',
             'action' => $this->action,
             'id' => $this->id
        )
    )
);
$this->form->prepare();

$form = $form->get('empresa');
?>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Empresa
    </h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo $this->url('admin-index') ?>"><i class="fa fa-dashboard"></i> Início</a></li>
        <li class="active">Empresa</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <?php echo $this->alertMessage(); ?>

    <div class="row">

        <!-- ToolBar -->
        <div id="toolbar" class="col-md-12">
            <div class="btn-group pull-right">
                <a class="btn btn-default" href="<?php echo $this->url('admin-empresa'); ?>" title="Voltar"><i class="fa fa-arrow-circle-left"></i></a>
                <button type="button" id="save" class="btn btn-default" title="Salvar"><i class="fa fa-save"></i></button>
            </div>
        </div>

        <?php echo $this->form()->openTag($this->form) ?>

        <?php echo $this->formHidden($form->get('id')) ?>

        <!-- Box -->
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">Informações básicas</h3>
                </div>

                <div class="box-body">
                    <div class="form-group">
                        <?php //echo $this->formHidden($form->get('security')) ?>
                        <?php //echo $this->formElementErrors($form->get('security')); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formlabel($form->get('nome')) ?>
                        <?php echo $this->formInput($form->get('nome')) ?>
                        <?php echo $this->formElementErrors($form->get('nome')); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formlabel($form->get('slogan')) ?>
                        <?php echo $this->formInput($form->get('slogan')) ?>
                        <?php echo $this->formElementErrors($form->get('slogan')); ?>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <?php echo $this->formlabel($form->get('ddd')) ?>
                            <?php echo $this->formInput($form->get('ddd')) ?>
                            <?php echo $this->formElementErrors($form->get('ddd')); ?>
                        </div>
                        <div class="form-group col-md-10">
                            <?php echo $this->formlabel($form->get('telefone')) ?>
                            <?php echo $this->formInput($form->get('telefone')) ?>
                            <?php echo $this->formElementErrors($form->get('telefone')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formlabel($form->get('email')) ?>
                        <?php echo $this->formInput($form->get('email')) ?>
                        <?php echo $this->formElementErrors($form->get('email')); ?>
                    </div>
                </div>

            </div>
        </div>

        <!-- Box -->
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-road"></i>
                    <h3 class="box-title">Endereço</h3>
                </div>

                <div class="box-body">
                    <div class="form-group">
                        <?php echo $this->formlabel($form->get('cep')) ?>
                        <?php echo $this->formInput($form->get('cep')) ?>
                        <?php echo $this->formElementErrors($form->get('cep')); ?>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <?php echo $this->formlabel($form->get('logradouro')) ?>
                            <?php echo $this->formInput($form->get('logradouro')) ?>
                            <?php echo $this->formElementErrors($form->get('logradouro')); ?>
                        </div>
                        <div class="form-group col-md-4">
                            <?php echo $this->formlabel($form->get('numero')) ?>
                            <?php echo $this->formInput($form->get('numero')) ?>
                            <?php echo $this->formElementErrors($form->get('numero')); ?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <?php echo $this->formlabel($form->get('bairro')) ?>
                            <?php echo $this->formInput($form->get('bairro')) ?>
                            <?php echo $this->formElementErrors($form->get('bairro')); ?>
                        </div>
                        <div class="form-group col-md-5">
                            <?php echo $this->formlabel($form->get('cidade')) ?>
                            <?php echo $this->formInput($form->get('cidade')) ?>
                            <?php echo $this->formElementErrors($form->get('cidade')); ?>
                        </div>
                        <div class="form-group col-md-2">
                            <?php echo $this->formlabel($form->get('uf')) ?>
                            <?php echo $this->formInput($form->get('uf')) ?>
                            <?php echo $this->formElementErrors($form->get('uf')); ?>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Box -->
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-map-marker"></i>
                    <h3 class="box-title">Mapa</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <?php echo $this->formlabel($form->get('mapaLocalizacao')) ?>
                        <?php echo $this->formTextarea($form->get('mapaLocalizacao')) ?>
                        <?php echo $this->formElementErrors($form->get('mapaLocalizacao')); ?>
                    </div>
                    <p class="text-light-blue"><i class="fa fa-info-circle"></i> iFrame do google places exibido na página de contato.</p>
                </div>
            </div>
        </div>

        <!-- Box -->
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">Estatísticas de acesso</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <?php echo $this->formlabel($form->get('analytics')) ?>
                        <?php echo $this->formInput($form->get('analytics')) ?>
                        <?php echo $this->formElementErrors($form->get('analytics')); ?>
                    </div>
                    <p class="text-light-blue"><i class="fa fa-info-circle"></i> Com o id do Google Analytics, é possível obter as estatísticas de acesso e muitos outros relatórios e métricas do seu site.</p>
                </div>
            </div>
        </div>

        <!-- Box -->
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-globe"></i>
                    <h3 class="box-title">Redes sociais</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-facebook"></i>
                            </div>
                            <?php echo $this->formInput($form->get('facebook')) ?>
                            <?php echo $this->formElementErrors($form->get('facebook')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-twitter"></i>
                            </div>
                            <?php echo $this->formInput($form->get('twitter')) ?>
                            <?php echo $this->formElementErrors($form->get('twitter')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-youtube-play"></i>
                            </div>
                            <?php echo $this->formInput($form->get('youtube')) ?>
                            <?php echo $this->formElementErrors($form->get('youtube')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-google-plus"></i>
                            </div>
                            <?php echo $this->formInput($form->get('googleMais')) ?>
                            <?php echo $this->formElementErrors($form->get('googleMais')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formlabel($form->get('facebookPlugin')) ?>
                        <?php echo $this->formTextarea($form->get('facebookPlugin')) ?>
                        <?php echo $this->formElementErrors($form->get('facebookPlugin')); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formlabel($form->get('twitterPlugin')) ?>
                        <?php echo $this->formTextarea($form->get('twitterPlugin')) ?>
                        <?php echo $this->formElementErrors($form->get('twitterPlugin')); ?>
                    </div>
                </div>
            </div>
        </div>

        <!-- Box -->
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-text-width"></i>
                    <h3 class="box-title">Textos</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <?php echo $this->formlabel($form->get('quemSomos')) ?>
                        <?php echo $this->formTextarea($form->get('quemSomos')) ?>
                        <?php echo $this->formElementErrors($form->get('quemSomos')); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formlabel($form->get('textoContato')) ?>
                        <?php echo $this->formTextarea($form->get('textoContato')) ?>
                        <?php echo $this->formElementErrors($form->get('textoContato')); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formlabel($form->get('textoRodape')) ?>
                        <?php echo $this->formTextarea($form->get('textoRodape')) ?>
                        <?php echo $this->formElementErrors($form->get('textoRodape')); ?>
                    </div>
                </div>
            </div>
        </div>

        <?php echo $this->form()->closeTag() ?>

        <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
        <!--[if (gte IE 8)&(lt IE 10)]>
        <script src="http://dev.baseproject.com.br/plugins/file-upload-9.9.3/js/cors/jquery.xdr-transport.js"></script>
        <![endif]-->

        <!-- Box -->
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-image"></i>
                    <h3 class="box-title">Imagem da página Quem Somos</h3>
                </div>
                <div class="box-body">
                    <?php //$id = ($this->action == 'new') ? 'new_'.$this->UsuarioIdentity()->getId() : $this->id ?>
                    <?php /*echo $this->partial(
                        'base/partial/upload',
                        array('qtd_images'        => 1,
                            'max_width'           => 320,
                            'max_height'          => 240,
                            'folder'              => 'quemsomos',
                            'id'                  => $id,
                            'max_width_thumbnail' => 80,
                            'max_height_thumbnail'=> 80
                        )
                    );*/ ?>

                    <form id="fileupload" action="uploads/index.php" method="POST" enctype="multipart/form-data">
                        <!-- Redirect browsers with JavaScript disabled to the origin page -->
                        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add files...</span>
                                    <input type="file" name="files[]" multiple>
                                </span>
                                <button type="submit" class="btn btn-primary start">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start upload</span>
                                </button>
                                <button type="reset" class="btn btn-warning cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel upload</span>
                                </button>
                                <button type="button" class="btn btn-danger delete">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete</span>
                                </button>
                                <input type="checkbox" class="toggle">
                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                    </form>

                    <!-- The blueimp Gallery widget -->
                    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
                    <!-- The template to display files available for upload -->
                    <script id="template-upload" type="text/x-tmpl">
                    {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <tr class="template-upload fade">
                            <td>
                                <span class="preview"></span>
                            </td>
                            <td>
                                <p class="name">{%=file.name%}</p>
                                <strong class="error text-danger"></strong>
                            </td>
                            <td>
                                <p class="size">Processing...</p>
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                            </td>
                            <td>
                                {% if (!i && !o.options.autoUpload) { %}
                                    <button class="btn btn-primary start" disabled>
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Start</span>
                                    </button>
                                {% } %}
                                {% if (!i) { %}
                                    <button class="btn btn-warning cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel</span>
                                    </button>
                                {% } %}
                            </td>
                        </tr>
                    {% } %}
                    </script>
                                        <!-- The template to display files available for download -->
                                        <script id="template-download" type="text/x-tmpl">
                    {% for (var i=0, file; file=o.files[i]; i++) { %}
                        <tr class="template-download fade">
                            <td>
                                <span class="preview">
                                    {% if (file.thumbnailUrl) { %}
                                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                                    {% } %}
                                </span>
                            </td>
                            <td>
                                <p class="name">
                                    {% if (file.url) { %}
                                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                                    {% } else { %}
                                        <span>{%=file.name%}</span>
                                    {% } %}
                                </p>
                                {% if (file.error) { %}
                                    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                                {% } %}
                            </td>
                            <td>
                                <span class="size">{%=o.formatFileSize(file.size)%}</span>
                            </td>
                            <td>
                                {% if (file.deleteUrl) { %}
                                    <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <span>Delete</span>
                                    </button>
                                    <input type="checkbox" name="delete" value="1" class="toggle">
                                {% } else { %}
                                    <button class="btn btn-warning cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel</span>
                                    </button>
                                {% } %}
                            </td>
                        </tr>
                    {% } %}
                    </script>
                </div>
            </div>
        </div>

    </div>

</section>

<?php // Inline Scripts (are inserted in the order normal)
$this->inlineScript()
    // File Upload 9.9.3 requirements -----------
    // The jQuery UI widget factory, can be omitted if jQuery UI is already included
    //->appendFile($this->basePath('plugins/file-upload-9.9.3/js/vendor/jquery.ui.widget.js'))
    // The Templates plugin is included to render the upload/download listings
    ->appendFile('//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js')
    // The Load Image plugin is included for the preview images and image resizing functionality
    ->appendFile('//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js')
    // The Canvas to Blob plugin is included for image resizing functionality
    ->appendFile('//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js')
    // blueimp Gallery script
    ->appendFile('//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js')
    // The Iframe Transport is required for browsers without support for XHR file uploads
    ->appendFile($this->basePath('plugins/file-upload-9.9.3/js/jquery.iframe-transport.js'))
    // The basic File Upload plugin
    ->appendFile($this->basePath('plugins/file-upload-9.9.3/js/jquery.fileupload.js'))
    // The File Upload processing plugin
    ->appendFile($this->basePath('plugins/file-upload-9.9.3/js/jquery.fileupload-process.js'))
    // The File Upload image preview & resize plugin
    ->appendFile($this->basePath('plugins/file-upload-9.9.3/js/jquery.fileupload-image.js'))
    // The File Upload audio preview plugin
    ->appendFile($this->basePath('plugins/file-upload-9.9.3/js/jquery.fileupload-audio.js'))
    // The File Upload video preview plugin
    ->appendFile($this->basePath('plugins/file-upload-9.9.3/js/jquery.fileupload-video.js'))
    // The File Upload validation plugin
    ->appendFile($this->basePath('plugins/file-upload-9.9.3/js/jquery.fileupload-validate.js'))
    // The File Upload user interface plugin
    ->appendFile($this->basePath('plugins/file-upload-9.9.3/js/jquery.fileupload-ui.js'))
    // The main application script
    ->appendFile($this->basePath('plugins/file-upload-9.9.3/js/main.js'))

    // Aditinals ---------------------------------
    ->appendFile($this->basePath() . '/plugins/validate/jquery.validate.min.js')
    ->appendFile($this->basePath() . '/plugins/validate/translate/messages_pt_BR.min.js')
    ->appendFile($this->basePath() . '/plugins/tiny-mce/tinymce.min.js')
    ->appendFile($this->basePath() . '/js/admin-empresa-crud.min.js')
?>
