<div style="border: 1px solid #ccc">

    <div style="padding:0 20px;">
        <div>

            <?php //$imgLogo = $this->HImages('logo/loja', $this->HEmpresa()->getId() )?>

            <?php //$imgLogo = $this->HImages('logo/empresa', $this->HSite()->getId() )?>

            <?php //if( $imgLogo['img'] ): ?>
                <!--<img src="<?php //echo $imgLogo['thumbnailPath'] . $imgLogo['img'] ?>" alt="<?php //echo $this->HSite()->getNome() ?>" />-->
            <?php //else: ?>
                <h3><?php echo $this->HEmpresa()->getNome() ?></h3>
            <?php //endif; ?>
        </div>
    </div>

    <div style="background-color: #f5f5f5; padding: 20px;">
        <span style="color:#666; font-size: 17px;">
            <b>Enviado através do contato do site: <?php echo $this->HEmpresa()->getNome() ?></b>
        </span>
    </div>

    <div style="padding: 20px;">

        <table style="color:#666; border-spacing: 5px;">
            <tbody>
                <tr><td><b>Nome: </b></td><td><?php echo $this->nome ?></td></tr>
                <tr><td><b>Telefone: </b></td><td><?php echo $this->telefone ?></td></tr>
                <tr><td><b>Email: </b></td><td><?php echo $this->email ?></td></tr>
                <tr><td><b>Assunto: </b></td><td><?php echo $this->assunto ?></td></tr>
                <tr><td><b>Mensagem: </b></td><td><?php echo $this->mensagem ?></td></tr>
            </tbody>
        </table>

    </div>

    <div style="background-color: #f5f5f5; padding: 20px;">
        <p>Powered by <a href="http://discoverytecnologia.com.br" target="_blank">Discovery Tecnologia</a></p>
    </div>

</div>
