<?php echo $this->doctype(); ?>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle() ?>
        <?php echo $this->headMeta()->setName('geo.placename', 'São José, Santa Catarina')
								    ->setName('language', 'pt-br')
								    ->setName('rating', 'general')
								    ->setName('url', 'http://www.danieltopografia.com.br')
        							->setName('author', 'Andre Luiz Haag, Diego Wagner, Rafael Duarte Silva')
        							->setName('reply-to', 'contato@discoverytecnologia.com.br')
        							->appendHttpEquiv('copyright', 'Discovery Tecnologia')
                                    ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                                    //->appendHttpEquiv('X-UA-Compatible', 'IE=edge')?>

        <!-- css -->                <!-- REVER FAVICON -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico') )
                                        ->prependStylesheet($this->basePath() . '/css/site.min.css')?>
        <!-- js -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '<?php echo $this->HEmpresa()->getAnalytics()?>', 'www.qsonhopijamas.com.br');
          ga('send', 'pageview');
        </script>

        <?php echo $this->headScript()  ->prependFile($this->basePath() . '/js/site.min.js')
                                        ->prependFile($this->basePath() . '/plugins/jquery/jquery-1.11.1.min.js')?>
								        					        								        
    </head>
    
    <body>

        <div id="head">

            <div id="head_content" class="wrap">

                <div class="logo">
                    <a href="<?php echo $this->url('site-index') ?>" title="<?php echo $this->HEmpresa()->getNome().' - '.$this->HEmpresa()->getSlogan()?>"></a>
                </div>

                <div class="menu_toogle"></div>

                <div class="search_toogle"></div>

                <div class="search">

                    <?php $this->form->prepare(); ?>

                    <?php if ( $form ): ?>
                        <?php echo $this->form()->openTag($this->form) ?>

                        <?php echo $this->formInput($this->form->get('search')) ?>
                        <?php echo $this->formElementErrors($this->form->get('search')); ?>

                        <?php echo $this->formbutton($this->form->get('submit_search')) ?>

                        <?php echo $this->form()->closeTag() ?>
                    <?php endif; ?>

                </div>

            </div>

        </div>

        <div id="menu" class="wrap">

            <div id="menu_content">

                <ul class="menu">

                    <li class="<?php echo $this->HMenuAtivo('site-index') ?>">
                        <a href="<?php echo $this->url('site-index') ?>" title="Página inicial"><strong></strong>Início</a>
                    </li>

                    <li class="<?php echo $this->HMenuAtivo('site-quem-somos') ?>">
                        <a href="<?php echo $this->url('site-quem-somos') ?>" title="Conheça a nossa empresa">Quem Somos</a>
                    </li>

                    <li class="<?php echo $this->HMenuAtivo('site-portfolio') ?>">
                        <span class="not-link" title="Conheça nosso portfólio">Portfolio<span class="carret"></span></span>
                        <ul>
                            <?php foreach($this->HPortfolio() as $portfolio):?>
                                <li><a href="<?php echo $this->url('site-portfolio/view', array('slug'=>$this->HStringToSlug($portfolio->getId().'-'.$portfolio->getTitulo()) )) ?>"><?php echo $portfolio->getTitulo() ?></a></li>
                            <?php endforeach ?>
                        </ul>
                    </li>

                    <li class="<?php echo $this->HMenuAtivo('site-cliente') ?>">
                        <a href="<?php echo $this->url('site-cliente') ?>" title="Conheça nossos clientes">Clientes</a>
                    </li>

                    <li class="<?php echo $this->HMenuAtivo('site-parceiro') ?>">
                        <a href="<?php echo $this->url('site-parceiro') ?>" title="Parceiros">Parceiros</a>
                    </li>

                    <li class="<?php echo $this->HMenuAtivo('site-servico') ?>">
                        <span class="not-link" title="Conheça nossos serviços">Serviços<span class="carret"></span></span>
                        <ul>
                            <?php foreach($this->HServico() as $servico):?>
                                <li><a href="<?php echo $this->url('site-servico/view', array('slug'=>$this->HStringToSlug($servico->getId().'-'.$servico->getNome()) )) ?>"><?php echo $servico->getNome() ?></a></li>
                            <?php endforeach ?>
                        </ul>
                    </li>

                    <li class="<?php echo $this->HMenuAtivo('site-contato') ?>">
                        <a href="<?php echo $this->url('site-contato') ?>" title="Entre em contato">Fale Conosco</a>
                    </li>
                </ul>

            </div>

        </div>

        <?php echo $this->content; ?>

        <div id="footer" class="wrap">

            <div id="footer_content">

                <div class="left">

                    <div class="info">

                        <div><span class="fone"><span class="ddd"><?php echo $this->HEmpresa()->getDdd()?> </span><?php echo $this->HEmpresa()->getTelefone()?></span></div>

                        <br />

                        <div><span class="mail"><?php echo $this->HEmpresa()->getEmail() ?></span></div>

                    </div>

                    <div class="texto mce_content">
                        <?php echo $this->HEmpresa()->getTextoRodape(); ?>
                    </div>

                    <div id="redes_sociais">

                        <?php if($this->HEmpresa()->getFacebook()):?>
                            <div class="social facebook">
                                <a href="http://<?php echo $this->HEmpresa()->getFacebook()?>" target="_blank" title="Facebook"></a>
                            </div>
                        <?php endif;?>
                        <?php if($this->HEmpresa()->getTwitter()):?>
                            <div class="social twitter">
                                <a href="http://<?php echo $this->HEmpresa()->getTwitter()?>" target="_blank" title="Twitter"></a>
                            </div>
                        <?php endif;?>
                        <?php if($this->HEmpresa()->getYoutube()):?>
                            <div class="social youtube">
                                <a href="http://<?php echo $this->HEmpresa()->getYoutube()?>" target="_blank" title="You Tube"></a>
                            </div>
                        <?php endif;?>
                        <?php if($this->HEmpresa()->getGoogleMais()):?>
                            <div class="social googleplus">
                                <a href="http://<?php echo $this->HEmpresa()->getGoogleMais()?>" target="_blank" title="Google+"></a>
                            </div>
                        <?php endif;?>

                    </div>

                </div>

                <div class="right">

                    <?php if($this->HEmpresa()->getFacebookPlugin()):?>
                        <div id="facebook_plugin">
                            <?php echo $this->HEmpresa()->getFacebookPlugin()?>
                        </div>
                    <?php endif; ?>

                </div>

            </div>

            <div id="copyright">
                <span class="copyright"><?php echo $this->HEmpresa()->getNome()?> &copy; Copyright 2010- <?php echo date('Y'); ?> - Todos os direitos reservados</span>
                <span class="discovery"><a href="http://www.discoverytecnologia.com.br" target="_blank" title="Discovery Tecnologia © > Desenvolvimento de Sites Marketing Web > SEO - Otimização de sites">Discovery Tecnologia</a></span>
            </div>

        </div>
		
		<div id="back_top"></div>
		
	</body>
</html>