<?php echo $this->doctype(); ?>

<html lang="pt">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Erro') ?>
        <?php echo $this->headMeta()->setName('robots', 'noindex, nofollow')
                                    ->setName('language', 'pt-br')
                                    ->setName('author', 'Andre Luiz Haag, Diego wagner, Rafael Duarte Silva')
                                    ->setName('reply-to', 'contato@discoverytecnologia.com.br')
                                    ->appendHttpEquiv('copyright', 'Discovery Tecnologia'); ?>
        
        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
        								->prependStylesheet($this->basePath() . '/css/site.min.css')
        								->prependStylesheet($this->basePath() . '/css/bootstrap.site.min.css') ?>
                       
        <!-- Scripts -->
        <?php echo $this->headScript()  ->prependFile($this->basePath() . '/js/site.min.js')
        								->prependFile($this->basePath() . '/plugins/bootstrap/bootstrap.site.min.js')
								        ->prependFile($this->basePath() . '/plugins/jquery/jquery-1.8.2.min.js') ?>
								        					        								        
    </head>
    
    <body id="body">
    
	    <div id="content" align="center">
	    		<div id="head">
	    		
	    			<div id="head_content">
	    		
	    				<div id="logo">
	    					<a href="<?php echo $this->url('site-index') ?>" title="Discovery Tecnologia."></a>
	    				</div>
	    				    				
	    				<div id="menu">
                            <div class="busca-vazio">
                                <img src="<?php echo $this->basePath() . '/images/page404.png' ?>" />
                            </div>
						</div>
					</div>
				</div>
						
			<?php echo $this->content; ?>
		</div>
	</body>	
</html>