<?php $this->layout('layout/site'); ?>

<?php $this->headTitle()->set( 'Serviços' ) ?>

<?php $this->headMeta()->setName('keywords', 'servicos, daniel, topografia, geodesia, agrimensura, remembramento, desmembramento, area, obras, licenca, bombeiros, alvara, funcionamento, habite-se florianopolis, sao jose, biguacu, palhoca')
	  				   ->setName('description', 'Conheça os serviços da Daniel Topografia' )
					   ->setName('robots', 'index, follow')
					   ->setName('googlebot', 'all')
					   ->setName('revisit-after', '2 days') ?>

<div id="content" class="servicos wrap">

    <h1>Connheça nossos <span>Serviços</span></h1>

    <?php $count = 0 ?>

    <?php foreach($this->servicos as $servico): ?>

        <div class="servico">

            <?php $imgs = $this->HImages('servico', $servico->getId() )?>
            <div class="img-wrap">
                <?php if( $imgs['img'] ): ?>
                    <img src="<?php echo $imgs['imgPath'] . $imgs['img'] ?>" class="transition" />
                <?php endif; ?>
            </div>

            <h2><?php echo $servico->getNome(); ?></h2>

            <p><?php echo $this->HHtmlAbreviate($servico->getDescricao(), 150); ?></p>

            <a href="<?php echo $this->url('site-servico/view', array('slug'=>$this->HStringToSlug($servico->getId().'-'.$servico->getNome()) )) ?>" class="btn">Ler Mais</a>

            <?php $count++ ?>

        </div>

    <?php endforeach ?>

    <?php if($count == 0): ?>

        <h1>Nenhum servico encontrado</h1>

    <?php endif ?>

</div><!-- #content -->