<?php $this->layout('layout/site'); ?>

<?php $dinamicTags =  $this->HStringToKeyWords($this->servico->getNome().' '.
                                               $this->servico->getDescricao() ) ?>

<?php $this->headTitle()->set( $this->servico->getNome().' | no Daniel Topografia' ) ?>

<?php $this->headMeta()->setName('keywords', $dinamicTags.', daniel, topografia, geodesia, agrimensura, remembramento, desmembramento, area, obras, licenca, bombeiros, alvara, funcionamento, habite-se florianopolis, sao jose, biguacu, palhoca' )
	  				   ->setName('description', 'Serviço '.$this->servico->getNome() )
					   ->setName('robots', 'index, follow')
					   ->setName('googlebot', 'all')
					   ->setName('revisit-after', '2 days') ?>

<?php $this->headLink()->prependStylesheet($this->basePath() . '/plugins/magnific-popup/magnific-popup.css') ?>

<?php $this->headScript()->prependFile($this->basePath() . '/plugins/magnific-popup/jquery.magnific-popup.min.js')
    ->prependFile($this->basePath() . '/js/site-servico.min.js')?>

<div id="content" class="wrap servico">

    <div class="servico">

        <h1><?php echo $this->servico->getNome(); ?></h1>

        <?php $imgsCapa = $this->HImages('servico_capa', $servico->getId() )?>

        <?php if( $imgsCapa['img'] ): ?>

            <?php foreach ($imgsCapa['imgs'] as $file):?>

                <div class="img-wrap">
                    <img src="<?php echo $imgsCapa['imgPath'] . $file ?>" class="transition" />
                </div>

            <?php endforeach; ?>

        <?php endif; ?>

        <?php echo $this->servico->getDescricao(); ?>

        <?php $imgs = $this->HImages('servico', $servico->getId() )?>
        <div class="thumbnail-container">

            <?php if( $imgs['img'] ): ?>

                <?php foreach ($imgs['imgs'] as $file):?>

                    <a href="<?php echo $imgs['imgPath'] . $file ?>">
                        <div class="img-wrap">
                            <img src="<?php echo $imgs['thumbnailPath'] . $file ?>" class="transition" />
                        </div>
                    </a>

                <?php endforeach; ?>

            <?php endif; ?>

        </div>

    </div>
	
</div>