<?php echo $this->doctype(); ?>

<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no" /> -->

    <?php echo $this->headTitle('Painel Administrativo | Discovery Tecnologia') ?>
    <?php echo $this->headMeta()->setName('author', 'Andre Luiz Haag, Diego wagner')
        ->appendHttpEquiv('copyright', 'Discovery Tecnologia'); ?>

    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/config.ico'))

        ->prependStylesheet($this->basePath() . '/plugins/file-upload/css/bootstrap.min.css')
        ->prependStylesheet($this->basePath() . '/plugins/file-upload/css/bootstrap-responsive.min.css')
        ->prependStylesheet($this->basePath() . '/plugins/file-upload/css/bootstrap-image-gallery.min.css') ?>

    <!-- Scripts -->
    <?php echo $this->headScript()  ->prependFile($this->basePath() . '/js/admin.min.js')
                                    ->prependFile($this->basePath() . '/plugins/cookie/jquery.cookie.min.js')
                                    ->prependFile($this->basePath() . '/plugins/msg-box/jquery.msgBox.min.js')
                                    ->prependFile($this->basePath() . '/plugins/file-upload/bootstrap.min.js')
                                    ->prependFile($this->basePath() . '/plugins/jquery/jquery-1.8.2.min.js') ?>
</head>
<body>
<div id="site">

    <div class="center" style="margin: 0 auto;width: 100%;text-align: center;">
        <img src="/images/404-error-icon.png">
    </div>

    <div id="right">
        <?php echo $this->content; ?>
    </div>
</div>
<div id="back_top"></div>
</body>
</html>