<?php
$urlPattern = $_SERVER['REQUEST_URI'];

$formatUrl = function ($page) use ($urlPattern) {

    if($urlPattern == '/'){
        $urlPattern = '/produtoseservicos';
    }

    if (!preg_match('/page/', $urlPattern)){
        return str_replace('//', '/', $urlPattern."/page/".$page);
    }else{
        $urlPattern = preg_replace('/\d/', '', $page);
        return str_replace('//', '/', $urlPattern.$page);
    }

};
?>

<?php if($this->pageCount && isset($this->next)): ?>
<div class="paginationIncremental">
		<a id="more_bottom" class="btn btn-primary" href="<?php echo $formatUrl($this->next) ?>" data-page="<?php echo $this->next ?>">
            <span class="ico ico-more"></span>
            Ver mais resultados</a>
</div>
<?php endif; ?>