<?php
$urlPattern = $_SERVER['REQUEST_URI'];

$formatUrl = function ($page) use ($urlPattern) {

    if($urlPattern == '/'){
        $urlPattern = '/produtoseservicos';
    }

    if (!preg_match('/page/', $urlPattern)){
        return str_replace('//', '/', $urlPattern."/page/".$page);
    }else{
        $urlPattern = preg_replace('/\d/', '', $page);
        return str_replace('//', '/', $urlPattern.$page);
    }

};
?>

<?php if($this->pageCount && isset($this->previous)): ?>
    <div class="paginationIncremental">
        <a id="more_top" class="btn btn-primary" href="<?php echo $formatUrl($this->previous) ?>" data-page="<?php echo $this->previous ?>">
            <span class="ico ico-more"></span>
            Resultados anteriores</a>
    </div>
<?php endif; ?>