<div class="wrap" style="overflow: hidden;">

    <div class="plugin">
        <div id="wrapper" class="wrapper" >
            <div id="my-cute-slider" class="cute-slider" data-width="1140" data-height="525">

                <ul data-type="slides">

                    <li data-delay="4" data-trans3d="t61,tr2,tr20,tr57" data-trans2d="tr1,tr14,tr26">
                        <img src="/images/banner/1/banner1.jpg" data-thumb="/images/banner/1/thumbnail/01.jpg"/>
                        <ul data-type="captions">
                            <li class="caption top right" data-effect="fade">
                                PS4 consoles, games e acessórios
                            </li>
                        </ul>
                    </li>
                    <li data-delay="4" data-trans3d="t62,tr4,tr21,tr62" data-trans2d="tr5,tr23,tr30">
                        <img src="/plugins/cute-slider/cute-theme/blank.jpg" data-src="/images/banner/1/banner2.jpg" data-thumb="/images/banner/1/thumbnail/02.jpg"/>
                        <ul data-type="captions">
                            <li class="caption top right" data-effect="fade">
                                XBOX ONE consoles, games e acessórios
                            </li>
                        </ul>
                    </li>
                    <li data-delay="5" data-trans3d="t63,tr17,tr46,tr64" data-trans2d="tr7,tr32,tr40">
                        <img src="/plugins/cute-slider/cute-theme/blank.jpg" data-src="/images/banner/1/banner3.jpg" data-thumb="/images/banner/1/thumbnail/03.jpg"/>
                        <ul data-type="captions">
                            <li class="caption top left inverse" data-effect="fade">
                                Consoles portateis NINTENDO 3DS, PSP, games e acessórios
                            </li>
                        </ul>
                    </li>
                    <li data-delay="4" data-trans3d="t62,tr4,tr21,tr62" data-trans2d="tr5,tr23,tr30">
                        <img src="/plugins/cute-slider/cute-theme/blank.jpg" data-src="/images/banner/1/banner4.jpg" data-thumb="/images/banner/1/thumbnail/04.jpg"/>
                        <ul data-type="captions">
                            <li class="caption top right inverse" data-effect="fade">
                                Vendas e instalações de Cockpits
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul data-type="controls">
                    <li data-type="captions"> </li>
                    <li data-type="link"> </li>
                    <li data-type="video"> </li>
                    <li data-type="slideinfo"> </li>
                    <li data-type="circletimer"> </li>
                    <li data-type="next"> </li>
                    <li data-type="previous"> </li>
                    <li data-type="slidecontrol"> </li>
                    <li data-type="bartimer"> </li>
                </ul>
            </div>
        </div>
    </div>

</div>