<?php $this->layout('layout/site'); ?>

<?php $this->headTitle()->set( "Daniel Topografia - Serviços de topografia, geodésia e agrimensura em Frorianópolis" ) ?>

<?php $this->headMeta()->setName('keywords', 'daniel, topografia, geodesia, agrimensura, remembramento, desmembramento, area, obras, licenca, bombeiros, alvara, funcionamento, habite-se florianopolis, sao jose, biguacu, palhoca')
	  				   ->setName('description', 'Daniel Topografia - Serviços de topografia, geodésia e agrimensura, remembramento, desmembramento de área e locação de obras, licença de bombeiros, alvará de funcionamento e habite-se | Frorianópolis - SC')
					   ->setName('robots', 'index, follow')
					   ->setName('googlebot', 'all')
					   ->setName('revisit-after', '2 days') ?>

<?php $this->headLink()->prependStylesheet($this->basePath() . '/plugins/cute-slider/style/slider-style.css') ?>

<?php $this->headScript()->appendFile($this->basePath() . '/plugins/cute-slider/js/modernizr.js')
                        ->appendFile($this->basePath() . '/plugins/cute-slider/js/cute/cute.slider.js')
                        ->appendFile($this->basePath() . '/plugins/cute-slider/js/cute/cute.transitions.all.js')
                        ->appendFile($this->basePath() . '/plugins/cute-slider/js/respond.min.js')
                        ->appendFile($this->basePath() . '/plugins/carousel-lite/jcarousellite.min.js')
                        ->appendFile($this->basePath() . '/js/site-index.min.js') ?>



<div class="plugin">
    <div id="wrapper" class="wrapper" >
        <div id="my-cute-slider" class="cute-slider" data-width="1920" data-height="600">

            <ul data-type="slides">

                <li data-delay="4" data-trans3d="tr13, tr6, tr8, tr60" data-trans2d="tr1,tr14,tr26">
                    <img src="/images/banner/banner1.jpg" data-thumb="/images/banner/thumbnail/01.jpg"/>
                    <ul data-type="captions">
                        <li class="caption right top" data-effect="fade">
                            Levantamento topográfico e mensurações
                        </li>
                    </ul>
                </li>
                <li data-delay="5" data-trans3d="tr64, tr46, tr57, tr19" data-trans2d="tr7,tr32,tr40">
                    <img src="/plugins/cute-slider/cute-theme/blank.jpg" data-src="/images/banner/banner2.jpg" data-thumb="/images/banner/thumbnail/02.jpg"/>
                    <ul data-type="captions">
                        <li class="caption top left" data-effect="fade">
                            Levantamento topográfico e mensurações
                        </li>
                    </ul>
                </li>
                <li data-delay="4" data-trans3d="tr39, tr63, tr53, tr33" data-trans2d="tr5,tr23,tr30">
                    <img src="/plugins/cute-slider/cute-theme/blank.jpg" data-src="/images/banner/banner3.jpg" data-thumb="/images/banner/thumbnail/03.jpg"/>
                    <ul data-type="captions">
                        <li class="caption right top" data-effect="fade">
                            Levantamento topográfico e mensurações
                        </li>
                    </ul>
                </li>
                <li data-delay="5" data-trans3d="tr64, tr46, tr57, tr19" data-trans2d="tr7,tr32,tr40">
                    <img src="/plugins/cute-slider/cute-theme/blank.jpg" data-src="/images/banner/banner4.jpg" data-thumb="/images/banner/thumbnail/04.jpg"/>
                    <ul data-type="captions">
                        <li class="caption top left" data-effect="fade">
                            Levantamento topográfico e mensurações
                        </li>
                    </ul>
                </li>
            </ul>

            <ul data-type="controls">
                <li data-type="captions"> </li>
                <li data-type="link"> </li>
                <li data-type="video"> </li>
                <li data-type="slideinfo"> </li>
                <li data-type="circletimer"> </li>
                <li data-type="next"> </li>
                <li data-type="previous"> </li>
                <li data-type="slidecontrol"> </li>
                <li data-type="bartimer"> </li>
            </ul>
        </div>
    </div>
</div>

<div class="wrap columns">

    <div class="column">
        <div class="img-wrap">
            <img src="/images/column1.jpg" class="transition" />
        </div>
        <h2>Geodésia</h2>
        <div class="text">
            <p>Tudo o que se representa, através de mapas, cartas, ou medições terrestres, se utiliza a topografia e a geodésia como base. É através desta ciência que é possível representar matematicamente toda e qualquer feição posicionada no globo terrestre (e também fora dele…).</p>
        </div>
        <a href="#" class="more"></a>
    </div>

    <div class="column">
        <div class="img-wrap">
            <img src="/images/column2.jpg" class="transition" />
        </div>
        <h2>Topografia</h2>
        <div class="text">
            <p>A Topografia é  instrumento fundamental para a implantação e acompanhamento de obras de todo o tipo, como as de projeto viário, edificações, urbanizações (loteamentos), movimentos de terras, etc.</p>
            <p>O termo só se aplica a áreas relativamente pequenas. Para isso são usadas coordenadas que podem ser duas distâncias e uma elevação, ou uma distância, uma elevação e uma direção.</p>
        </div>
        <a href="#" class="more"></a>
    </div>

    <div class="column">
        <div class="img-wrap">
            <img src="/images/column3.jpg" class="transition" />
        </div>
        <h2>Agrimensura</h2>
        <div class="text">
            <p>Agrimensura é o ramo da topografia que estuda as divisões de propriedades rurais e urbanas. Associada a astrometria, que tem por objetivo projeta-las na superfície terrestre e assim demarcar uma extensa região terrena como se fosse num plano. O agrimensor moderno é um profissional da engenharia geográfica treinado nas industrias ópticas para manusear os modernos teodolitos ou estações totais, muito mais simples que os antigos.</p>
        </div>
        <a href="#" class="more"></a>
    </div>

</div>

<!--<div class="index wrap">
    <h1>Sobre nós</h1>
    <p>Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico. Com mais de 2000 anos, suas raízes podem ser encontradas em uma obra de literatura latina clássica datada de 45 AC. Richard McClintock, um professor de latim do Hampden-Sydney College na Virginia, pesquisou uma das mais obscuras palavras em latim, consectetur, oriunda de uma passagem de Lorem Ipsum, e, procurando por entre citações da palavra na literatura clássica, descobriu a sua indubitável origem. Lorem Ipsum vem das seções 1.10.32 e 1.10.33 do “de Finibus Bonorum et Malorum” (Os Extremos do Bem e do Mal), de Cícero, escrito em 45 AC. Este livro é um tratado de teoria da ética muito popular na época da Renascença. A primeira linha de Lorem Ipsum, “Lorem Ipsum dolor sit amet...” vem de uma linha na seção 1.10.32.</p>
    <p>O trecho padrão original de Lorem Ipsum, usado desde o século XVI, está reproduzido abaixo para os interessados. Seções 1.10.32 e 1.10.33 de “de Finibus Bonorum et Malorum” de Cicero também foram reproduzidas abaixo em sua forma exata original, acompanhada das versões para o inglês da tradução feita por H. Rackham em 1914.</p>

</div>--><!-- #content -->

