<?php $this->layout('layout/admin'); ?>
						 
<div class="ttoolbar">
	<ul id="mapa">
		<li class="first"></li>
		<li class="iten">
			<span title="Página Inicial">Página Inicial</span>
		</li>
	</ul>
</div>

<div class="container-fluid">

    <img src="/images/exclamation.png">
	<?php echo $this->flashMessage(); ?>
    <div id="stop" ></div>
</div>


