<?php $this->layout('layout/site'); ?>

<?php $this->headTitle()->set( 'Parceiros da Daniel Topografia' ) ?>

<?php $this->headMeta()->setName('keywords', 'parceiros, daniel, topografia, geodesia, agrimensura, remembramento, desmembramento, area, obras, licenca, bombeiros, alvara, funcionamento, habite-se florianopolis, sao jose, biguacu, palhoca' )
    ->setName('description', 'Conheça os parceiros da Daniel Topografia' )
    ->setName('robots', 'index, follow')
    ->setName('googlebot', 'all')
    ->setName('revisit-after', '2 days') ?>

<div id="content" class="parceiro wrap">

    <h1><span>Conheça nossos</span> parceiros</h1>

    <?php $count = 0 ?>

    <?php foreach($this->parceiros as $parceiro): ?>

        <div class="parceiro">

            <a href="<?php echo $parceiro->getLink(); ?>" target="_blank" title="<?php echo $parceiro->getNome(); ?>">
                <?php $imgs = $this->HImages('parceiro', $parceiro->getId() )?>
                <div class="img-wrap">
                    <?php if( $imgs['img'] ): ?>
                        <img src="<?php echo $imgs['imgPath'] . $imgs['img'] ?>" class="transition" />
                    <?php endif; ?>
                </div>
            </a>

            <?php $count++ ?>

        </div>

    <?php endforeach ?>

    <?php if($count == 0): ?>

        <p>Nenhum cliente encontrado</p>

    <?php endif ?>

</div><!-- #content -->