<?php $this->layout('layout/site'); ?>

<?php $this->headTitle()->set( 'Quem Somos' ) ?>

<?php $this->headMeta()->setName('keywords', 'quem, somos, historia, daniel, topografia, geodesia, agrimensura, remembramento, desmembramento, area, obras, licenca, bombeiros, alvara, funcionamento, habite-se' )
	  				   ->setName('description', 'Conheça a história da Daniel Topografia' )
					   ->setName('robots', 'index, follow')
					   ->setName('googlebot', 'all')
					   ->setName('revisit-after', '2 days') ?>

<div id="content" class="quemsomos wrap">
    
    <h1>A Empresa <span>Conheça um pouco da nossa história</span></h1>

    <?php $imgsCapa = $this->HImages('quemsomos', 1 )?>

    <?php if( $imgsCapa['img'] ): ?>

        <?php foreach ($imgsCapa['imgs'] as $file):?>

            <div class="img-wrap">
                <img src="<?php echo $imgsCapa['imgPath'] . $file ?>" class="transition" />
            </div>

        <?php endforeach; ?>

    <?php endif; ?>

    <div class="mce_content">
        <?php echo $this->HEmpresa()->getQuemSomos()?>
    </div>
	
</div>