<?php echo $this->doctype(); ?>

<html class="bg-black" lang="pt">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('Painel Administrativo | Discovery Tecnologia') ?>
    <?php echo $this->headMeta()->setName('author', 'Andre Luiz Haag, Diego wagner')
                                ->appendHttpEquiv('copyright', 'Discovery Tecnologia'); ?>

    <!-- Le styles -->
    <?php /*echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/config.ico'))
                    ->prependStylesheet($this->basePath() . '/css/AdminLTE.css')
                    ->prependStylesheet($this->basePath() . '/plugins/file-upload/css/bootstrap.min.css')
                    ->prependStylesheet($this->basePath() . '/plugins/file-upload/css/bootstrap-responsive.min.css')
                    //->prependStylesheet($this->basePath() . '/css/file-upload/bootstrap-image-gallery.min.css')*/ ?>

    <!-- Scripts -->
    <?php /*echo $this->headScript() ->prependFile($this->basePath() . '/js/admin.min.js')
                                    ->prependFile($this->basePath() . '/plugins/cookie/jquery.cookie.min.js')
                                    ->prependFile($this->basePath() . '/plugins/file-upload/bootstrap.min.js')
                                    ->prependFile($this->basePath() . '/plugins/jquery/jquery-1.8.2.min.js')*/ ?>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="css/AdminLTE.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

    <body class="bg-black">

        <div class="form-box" id="login-box">

            <div class="header">Sign In</div>

            <?php echo $this->content; ?>

            <div class="margin text-center">
                <span>Sign in using social networks</span>
                <br/>
                <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
                <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
                <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>
            </div>

        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>

    </body>

</html>