<?php $this->layout('layout/site'); ?>

<?php $this->headTitle()->set( 'Clientes da Daniel Topografia' ) ?>

<?php $this->headMeta()->setName('keywords', 'clientes, daniel, topografia, geodesia, agrimensura, remembramento, desmembramento, area, obras, licenca, bombeiros, alvara, funcionamento, habite-se' )
	  				   ->setName('description', 'Clientes - Conheça os clientes da Daniel Topografia' )
					   ->setName('robots', 'index, follow')
					   ->setName('googlebot', 'all')
					   ->setName('revisit-after', '2 days') ?>

<?php //$this->headScript()->appendFile($this->basePath() . '/js/site-produtos.min.js') ?>

<div id="content" class="cliente wrap">

    <h1><span>Conheça nossos </span>clientes</h1>

    <?php $count = 0 ?>

    <?php foreach($this->clientes as $cliente): ?>

        <div class="cliente">

            <a href="<?php echo $cliente->getLink(); ?>" target="_blank" title="<?php echo $cliente->getNome(); ?>">
                <?php $imgs = $this->HImages('parceiro', $cliente->getId() )?>
                <div class="img-wrap">
                    <?php if( $imgs['img'] ): ?>
                        <img src="<?php echo $imgs['imgPath'] . $imgs['img'] ?>" class="transition" />
                    <?php endif; ?>
                </div>
            </a>

            <?php $count++ ?>

        </div>

    <?php endforeach ?>

    <?php if($count == 0): ?>

        <p>Nenhum cliente encontrado</p>

    <?php endif ?>

</div><!-- #content -->