* {
  margin: 0;
  padding: 0;

  /*Quebra de linha*/
  /*-moz-hyphens:auto;
  -ms-hyphens:auto;
  -webkit-hyphens:auto;
  hyphens:auto;
  word-wrap:break-word;*/
}

body {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

a,
img {
  border:none;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a,
textarea,
input,
input[type=text]:focus,
select:focus{
  outline: none;
}

ul {
  list-style: none;
}

input[type=button],
input[type=submit],
button {
  display: block;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}