@import "site-functions";
@import "resets";
@import "components";
@import "site-base";
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Quattrocento+Sans:400,700);

@font-weight-light:300;
@font-weight-normal:400;
@font-weight-bold:700;

/* CORES************************************************/
@color-default: #ebebeb;
@color-success: #5cb85c;
@color-info: #436EB8;
@color-warning: #f0ad4e;
@color-danger: #d9534f;

@color-text-title: #000;
@color-text-normal: #111;
@color-text-light: #606060;

@color-primary: #3B5998;

/*FORMS ************************************************/
div.control-group {
  padding-bottom: 10px;

  label.control-label {
    color: @color-text-light;
    font-weight: @font-weight-normal;
    font-size: 1.4em;
  }

  label.control-label.required {
    font-weight: @font-weight-bold;
    color: @color-text-title;

    &:after {
      content: "*";
      color: red;
    }
  }

  label.error {
    color: red;
    display: block;
    font-size: 1.2em;
  }

  label.error.valid {
    display: none !important;
  }
}

.btn {
  display: inline-block;
  background-color: @color-primary;
  color: #fff;
  font-size: 1.8em;
  padding: 0.5555555555555556em 0.8333333333333333em;/*10px 15px*/
  .transition(@transition-property : all, @duration : 0.3s, @timing-function : ease, @delay : 0s);

  &:hover {
    background-color: #000;
  }

  span.icon {
    background-image: url("../images/sprite.png");
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
  
  span.icon.map {
    background-position: 0 -145px;
  }
}
/*
/* LOADING **********************************************/
div.loading_inline {
  background-image: url("../images/loading_30x30.gif");
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 5px;
}

/************************************************************************************/
/*---------------------- CELULARES: menor ou igual a 480 px. -----------------------*/
/************************************************************************************/

/* LAYOUT ***********************************/
* {
  font-family: 'Quattrocento Sans', sans-serif;
}

html {

}

body {
  background-image: url("../images/bg_body.png");
}

.wrap {
  padding: 0 2%;
}

h1 {
  font-size: 4em;
  padding-bottom: 0.6666666666666667em; /*30px*/
  font-weight: @font-weight-light;
  color: @color-text-title;


  font-family: 'Droid Serif', serif;

  span {
    font-size: 0.8em;
    color: @color-primary;
    text-transform: none;
    font-weight: @font-weight-light;
    text-transform: uppercase;
  }
}

h2 {
  font-size: 2.5em;
  padding-bottom: 0.6666666666666667em; /*30px*/
  font-weight: @font-weight-bold;
  color: @color-text-title;
}

p {
  font-size: 1.6em;/*16px*/
  line-height: 1.6em;/*24px*/
  padding: 0 0 1em 0;/*15px*/
  font-weight: @font-weight-normal;
}

/* HEAD *************************************/
#head {
  background-color: #fff;

  div#head_content {
    padding-top: 15px;

    .logo {
      float: left;
      width: 157px;
      height: 27px;
      margin: 5px 0 10px 0;
      background-image: url("../images/sprite.png");
      background-size: 100%;
      background-position: 0;

      a {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }

    .search_toogle {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
      float: right;
      background-image: url("../images/sprite.png");
      background-position: -118px -96px;
      cursor: pointer;
    }

    .search_toogle.active {
      background-position: -118px -136px;
    }

    .menu_toogle {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
      float: right;
      background-image: url("../images/sprite.png");
      background-position: -158px -96px;
      cursor: pointer;
    }

    .menu_toogle.active {
      background-position: -158px -136px;
    }
  }
}

/*SEARCH ***************************************/
div.search {

  clear: both;

  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;

  overflow: hidden;
  max-height: 0;
  height: 34px;

  form {
    background-color: #eee;

    input[type=text] {
      .reset-appearance;
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 0 10px 10px;
    }

    button {
      .reset-appearance;
      float: right;
      position: relative;
      background-image: url("../images/sprite.png");
      background-position: -157px -180px;
      vertical-align: bottom;
      cursor: pointer;

      background-color: @color-primary;
      height: 34px;
      width: 34px;
      top: -34px;

      &:hover {
        background-color: @color-primary + #222;
      }
    }
  }
}

div.search.aberto {
  max-height: 34px;
  padding-bottom: 20px;
}

/* MENU *************************************/
#menu {
  background-color: @color-primary;

  #menu_content {

    ul.menu {
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;


      overflow: hidden;
      max-height: 0;
      margin-top: 5px;

      >li {
        text-align: left;
        border-bottom: 1px solid #fff;

        a,
        span.not-link {
          padding-left: 10px;
          display: block;
          width: 100%;
          height: 100%;
          font-size: 1.4em;/*15px*/
          line-height: 1.8em;
          color: #fff;
          font-weight: @font-weight-light;
        }

        ul {
          border-left: 5px solid @color-primary + #222;
          margin: 0 0 10px 10px;
        }
      }

      li.ativo{

      }

      li:last-of-type {
        border-bottom: 0;
      }
    }

    ul.menu.aberto {
      max-height: 500px;
      margin-bottom: 33px;
    }
  }
}

/* CONTENT INDEX ***********************************/
div.plugin {
  overflow: hidden;

  .caption {
    display: inline-block;
    font-size: 1.5em;
    position: absolute;
    font-weight: @font-weight-normal;
    /*letter-spacing: -3px;*/
    right: 0px;
    overflow: visible !important;
    color: #fff;
    text-shadow: 0 0 0.2em #333;
  }

  .caption.inverse {
    color: #333;
    text-shadow: 0 0 0.1em #fff;
  }

  .caption.top {
    top: 5%;
  }

  .caption.middle {
    top: 35%;
  }

  .caption.bottom {
    top: 85%;
  }

  .caption.left {
    left: 5%;
  }

  .caption.right {
    right: 50px;
  }
}

div.columns {
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 33px;

  div.column {
    background-color: #fff;
    margin-bottom: 33px;

    .img-wrap {
      font-size: 0;
    }

    h2 {
      background-color: @color-primary;
      font-size: 2.8em;
      padding: .3em 0 .3em .5em;
      color: #fff;
    }

    p {
      padding: 1em 1em 0 1em;
    }

    a.more {
      background-image: url("../images/sprite.png");
      display: inline-block;
      float: right;
      height: 51px;
      width: 51px;
    }
  }

  div.column::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  div.column:nth-child(1) {
    a.more {
      background-position: 0 -649px;
    }
  }


  div.column:nth-child(2) {
    h2 {
      background-color: #93389A;
    }

    a.more {
      background-position: -51px -649px;
    }
  }

  div.column:nth-child(3) {

    h2 {
      background-color: #9B373F;
    }

    a.more {
      background-position: -102px -649px;
    }
  }
}

div.columns::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

div.index {
  background-color: #fff;
  padding-top: 33px;
  padding-bottom: 33px;
}

/* CONTENT PORTFOLIOS *********************/
div#content.portfolios {

  div.portfolio {
    background-color: #fff;
    margin-bottom: 25px;
    padding: 20px;

    div.img-wrap {
      margin-bottom: 20px;
    }
  }

  &:after {
    .clear-both;
  }
}

/* CONTENT PORTFOLIO *********************/
div#content.portfolio {

  div.portfolio {

    div.img-wrap {
      float: left;
      margin: 0 10px 10px 0;
    }
  }

  &:after {
    .clear-both;
  }
}

/* CONTENT SERVICOS *********************/
div#content.servicos {

  div.servico {
    background-color: #fff;
    margin-bottom: 25px;
    padding: 20px;

    div.img-wrap {
      margin-bottom: 20px;
    }
  }

  &:after {
    .clear-both;
  }
}

/* CONTENT SERVICO *********************/
div#content.servico {

  div.portfolio {

    div.img-wrap {
      float: left;
      margin: 0 10px 10px 0;
    }
  }

  &:after {
    .clear-both;
  }
}

/* FOOTER **************************************/
#footer {
  background-color: #1c1c1c;
  padding-top: 33px;

  div.info {

    div {

      span.mail,
      span.fone {
        background-image: url("../images/sprite.png");
        background-repeat: no-repeat;
        display: inline-block;
        color: #fff;
      }

      span.mail {
        background-position: 0 -314px;/**/
        font-size: 1.3em;
        padding: 0.1785714285714286em 0.3571428571428571em 0.1785714285714286em 2.142857142857143em;/*2.5px 5px 2.5px 30px*/
      }

      span.fone {
        background-position: 0px -350px;
        font-size: 2em;
        padding: 10px 0 0 25px;
      }

      span.ddd {
        font-size: .7em;
      }
    }
  }

  div.texto {
    color: #eee;
    padding: 30px 0;
  }

  div#redes_sociais {

    div.social {
      display: inline-block;
      background-image: url("../images/sprite.png");
      width: 58px;
      height: 60px;
      background-size: 304%;
      .radius(100px);
      background-color: #666;
      margin-right: 23px;
      .transition(@transition-property : all, @duration : 0.3s, @timing-function : ease, @delay : 0s);

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    div.facebook {
      background-position: 5% -284%;

      &:hover {
        background-color: #3b5998;
      }
    }

    div.twitter {
      background-position: 49% -285%;

      &:hover {
        background-color: #55acee;
      }
    }

    div.googleplus {
      background-position: 5% -267%;

      &:hover {
        background-color: #cc181e;
      }
    }

    div.youtube {
      background-position: 49% -33%;

      &:hover {
        background-color: #cc181e;
      }
    }
  }

  div#copyright {
    padding: 15px 0;
    border-top: 1px solid #ccc;

    span.copyright {
      color: #eee;
      font-size: 1.2em;
    }

    span.discovery {
      display: block;
      text-align: right;
      padding-top: 15px;

      a {
        color: #eee;
      }
    }
  }

  div#facebook_plugin {
    padding: 30px 0;

    iframe {
      width: 100% !important;
    }
  }
}

/* CONTENT *************************************/
#content {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* CONTENT CONTATO ****************************/
div#content.contato {

  div#left {

  }

  div#right {

    .control-label {
      display: none;
    }

    input[type=text],
    select,
    textarea {
      display: block;
      font-size: 1.4em;
      padding: .5em;
      width: 100%;
      box-sizing: border-box;

    }

    input[type=text]{

    }

    textarea {
      height: 7em;
    }

  }
}

/************************************************************************************/
/*-------- TABETS: 481 px a 768 px. Herda estilos de: Layout para celulares. -------*/
/************************************************************************************/
@media only screen and (min-width: 481px) {
  /* LAYOUT ***********************************/
  .wrap {
    padding: 0 7.5%;
  }

  /* CONTENT INDEX ***********************************/
  div.plugin {
    overflow: hidden;

    .caption {
      font-size: 3em;
    }
  }

  /* CONTENT CLIENTE/PARCEIO *********************/
  div#content.cliente,
  div#content.parceiro {

    div.cliente,
    div.parceiro {
      float: left;
      width: 50%;
      text-align: center;
      margin-bottom: 30px;

      a {
        text-align: center;
        .img-wrap {
          width: 90%;
          display: inline-block;
        }
      }
    }

    &:after {
      .clear-both;
    }/**/
  }
}

/************************************************************************************/
/*-------- DESKTOPS: 769 px até o máximo de 1232 px. Herda estilos anteriores ------*/
/************************************************************************************/
@media only screen and (min-width: 769px) {

  /* LAYOUT ***********************************/
  body {

  }

  .wrap {
    padding: 0 10%;
  }

  #head {

    div#head_content {
      height: 58px;
      padding-top: 25px;
      padding-bottom: 25px;

      .logo {
        width: 300px;
        height: 52px;
      }

      .search_toogle {
        display: none;
      }

      .menu_toogle {
        display: none;
      }
    }
  }

  /*SEARCH ***************************************/
  div.search {
    float: right;
    width: 25%;
    height: 34px;
    clear: none;
    max-height: none;
    position: relative;
    top: 15px;

    form {
      margin: 0;
      padding: 0;

      input[type=text] {

      }

      button {

      }
    }
  }

  #menu {
    z-index: 9999999;
    background-color: #fff;
    border-bottom: 5px solid #eee;

    #menu_content {

      ul.menu {
        background-color: @color-primary;
        max-height:none;
        float: left;
        width: 100%;
        overflow: visible;
        padding-left: 0;
        margin-top: 0;

        >li {
          display: inline-block;
          border-bottom: 0;
          padding: 0 .05%;

          position: relative;
          vertical-align: top;
          border-right: 1px solid #fff;

          >a,
          span.not-link {
            font-size: 1.5em;/*16px*/
            line-height: 3.5em;
            text-transform: uppercase;
            font-weight: @font-weight-light;

            padding-left: 0;
            border-left: 0;

            &:hover {
              border: 0;
              padding: 0;
              font-weight: @font-weight-light;
            }

            span.carret {
              display: inline-block;
              width: 14px;
              height: 14px;
              margin-left: 6px;
              background-image: url(../images/sprite.png);
              background-position: -9px -111px;
            }
          }

          /*SUB MENU*/
          ul {
            /*visibility: hidden;*/
            display: none;
            border-left: 0;
            margin-left: 0;

            position: absolute;
            left: -3px;
            top: 52px;
            width: 300px;
            max-height: 350px;
            z-index: 9999999;
            background-color: @color-primary + #222;

            /*-webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;*/

            li {
              border-bottom: 1px solid #fff;

              >a {
                font-size: 1.4em;
                line-height: 2.7em;
                text-transform: none;
                padding-left: 10px !important;
                border-left: 0;
                color: #fff !important;

                &:hover {
                  padding-left: 10px;
                }
              }

              &:hover {
                background-color: @color-primary;
              }
            }
          }

          &:hover {

            ul {
              display: block;
            }
          }
        }

        >li.ativo {
          background-color: @color-primary - #222;

          a {
            padding-left: 0;
            border-left: 0;
            font-weight: @font-weight-normal;
          }
        }
      }

      div.search {
        max-height: none;
        width: 18%;
        float: right;
        padding: 12px 0 0 0;
        margin-right: 2%;

        form {
          width: auto;
          margin: 0;
          padding: 9px;
        }
      }

      div.search.aberto {
        max-height: 500px;
      }

      &:after {
        .clear-both;
      }
    }
  }

  /* CONTENT INDEX ***********************************/
  div.plugin {
    overflow: hidden;

    .caption {
      font-size: 3.5em;
    }
  }

  div.columns {
    padding-top: 66px;
    padding-bottom: 66px;

    div.column {
      float: left;
      width: 31%;
      div.text {
        min-height: 300px;
      }

    }

    div.column:nth-child(2) {
      margin: 0 3.5%;

    }
  }

  div.index {
    padding-top: 66px;
    padding-bottom: 66px;
  }

  /* CONTENT QUEMSOMOS *********************/
  div#content.quemsomos {
    div.img-wrap {
      float: right;
      max-width: 50%;
    }
  }

  /* CONTENT CLIENTE/PARCEIO *********************/
  div#content.cliente,
  div#content.parceiro {

    div.cliente,
    div.parceiro {
      float: left;
      width: 25%;
      text-align: center;
      margin-bottom: 30px;

      a {
        width: 80%;
      }

    }

    &:after {
      .clear-both;
    }
  }

  /* CONTENT PORTFOLIOS *********************/
  div#content.portfolios {

    div.portfolio {

      div.img-wrap {
        float: left;
        margin-bottom: 0;
        margin-right: 20px;
        max-width: 50% ;
      }

      &::after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
      }
    }
  }

  /* CONTENT PORTFOLIO *********************/
  div#content.portfolio {

    div.portfolio {

      div.img-wrap {
        float: left;
        margin: 0 20px 20px 0;
        max-width: 50%;
      }
    }

    &:after {
      .clear-both;
    }
  }

  /* CONTENT SERVICOS *********************/
  div#content.servicos {

    div.servico {

      div.img-wrap {
        float: left;
        margin-bottom: 0;
        margin-right: 20px;
        max-width: 50% ;
      }

      &::after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
      }
    }
  }

  /* CONTENT SERVICO *********************/
  div#content.servico {

    div.servico {

      div.img-wrap {
        float: left;
        margin: 0 20px 20px 0;
        max-width: 50%;
      }
    }

    &:after {
      .clear-both;
    }
  }

  /* FOOTER **************************************/
  #footer {
    padding-top: 66px;

    .fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] {
      width: 100% !important;
    }

    div#footer_content {

      div.left {
        float: left;
        width: 65.5%;
      }

      div.right {
        float: right;
        width: 31%;
        padding-left: 3.5%;
      }

      &:after {
        .clear-both;
      }
    }

    div#copyright {
        padding: 30px 0;

      span.discovery {
        float: right;
        display: inline;
        text-align: left;
        padding-top: 0;

      }
    }
  }

  /* CONTENT *************************************/
  #content {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* INDEX CONTENT *******************************/
  #content.index {


    div.produto {
      padding-bottom: 30px;
      float: left;
      width: 31%;
    }

    div.produto:nth-child(2) {
      margin: 0 3.5%;
    }

    &:after {
      .clear-both;
    }
  }

  /* INDEX FILIAIS *******************************/
  #content.filiais {

    div.loja {

      .img-wrap {
        float: left;
        margin-right: 2em;
        max-width: 50%;
      }

      div.info {
        padding-left: 50%;
      }

      &:after {
        .clear-both;
      }
    }
  }

  /* CONTENT CONTATO ****************************/
  div#content.contato {

    div#left {
      float: left;
      width: 45%;
      padding-right: 5%;
    }

    div#right {
      float: right;
      width: 50%;

      .control-label {
        display: block;
      }

      input[type=text]{

      }

      textarea {

      }

    }

    &:after {
      .clear-both;
    }
  }

}

/************************************************************************************/
/*-------- DESKTOPS: 960 px até o máximo de 1980 px. Herda estilos anteriores ------*/
/************************************************************************************/
@media only screen and (min-width: 960px) {

  #menu {

    #menu_content {

      ul.menu {

        >li {
          padding: 0 1.4%;
        }
      }
    }
  }


  /* CONTENT INDEX ***********************************/
  div.background {

    div.text-rotator {
      position: absolute;
      padding-top: 50px;


      h1 {

      }

      h1.cursive {

      }

      p {

      }

    }
  }

  /* CONTENT CONTATO ****************************/
  div#content.contato {

    div#right {

      input[type=text],
      select {
        width: 80%;
      }

    }
  }
}