<?php $this->layout('layout/admin'); ?>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Bem vindo
    </h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo $this->url('admin-index') ?>"><i class="fa fa-dashboard"></i> Início</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <p>Olá, aqui você encontra todas as ferramentas necessárias para adiministrar seu site com segurança, conforto e comodidade.</p>
    <p>Todas as partes dinâmicas do seu site, ou seja que podem ser alteradas estão divididas em seções que podem ser acessadas pelo menu lateral esquerdo.</p>
    <p>Qualquer dúvida, entre em contato com a Discovey Tecnologia.</p>
    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-warning"></i>
                    <h3 class="box-title">Alertas</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="alert alert-danger alert-dismissable">
                        <i class="fa fa-ban"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>Mensagem de Erro</b>, exibida para relatar algum possível erro da aplicação (caso encontre esta mensagem, entre em contato com o adiministrador e informe a mensagem apresentada).
                    </div>
                    <div class="alert alert-info alert-dismissable">
                        <i class="fa fa-info"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>Mensagem de Informação</b>, exibida principalmente para informar o usuário sobre algum equivoco ou alguma informação importante.
                    </div>
                    <div class="alert alert-warning alert-dismissable">
                        <i class="fa fa-warning"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>Mensagem de Alerta</b>, exibida principalmente para alertar sobre o preenchimento incorreto de informações (esta mensagem não permite o proseguimento da aplicação até que sejam corrigidos os problemas relatados).
                    </div>
                    <div class="alert alert-success alert-dismissable">
                        <i class="fa fa-check"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>Mensagem de Sucesso</b> Exibida principalmente na finalização de processos informando o sucesso da operação.
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>

</section><!-- /.content -->
	
<!-- <a href="<?php //echo $this->url('admin-index-gerar-entity'); ?>" id="new" class="ico_new" title="Novo">Gerar Entidades Doctrine</a> -->
	
