<?php $this->layout('layout/login'); ?>

<?php
$this->form->setAttribute('action', $this->url('acl-login'));
$this->form->prepare();
?>

<?php echo $this->form()->openTag($form) ?>

    <div class="body bg-gray">

        <?php echo $this->alertMessage(); ?>

        <div class="form-group">
            <?php echo $this->formInput($this->form->get('email')) ?>
        </div>
        <div class="form-group">
            <?php echo $this->formInput($this->form->get('senha')) ?>
        </div>
        <div class="form-group">
            <input type="checkbox" name="remember_me"/> Remember me
        </div>

    </div>

    <div class="footer">
        <?php echo $this->formSubmit($form->get('submit')) ?>
        <p><a href="http://www.discoverytecnologia.com.br/contato" target="_blank">Recuperar minha senha</a></p>

        <a href="http://www.discoverytecnologia.com.br/contato"  target="_blank" class="text-center">Novo usuário</a>
    </div>

<?php echo $this->form()->closeTag() ?>



